/*---------------------*/
/*-------- BOUNCE------*/
/*---------------------*/
.bounce {
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-transform-origin: center center;
	transform-origin: center center;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	
}
 @-webkit-keyframes bounce {
 from, 20%, 40%, 60%, 80%, to {
 -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
 0% {
 -webkit-transform: scale3d(.78, .78, .78);
 transform: scale3d(.78, .78, .78);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9);
}
 60% {
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97);
}
 to {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 /* remove blur on text*/
 backface-visibility: hidden;

}
}
 @keyframes bounce {
 from, 20%, 40%, 60%, 80%, to {
 -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
 animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  
}
 0% {
 -webkit-transform: scale3d(.78, .78, .78);
 transform: scale3d(.78, .78, .78);
}
 20% {
 -webkit-transform: scale3d(1.1, 1.1, 1.1);
 transform: scale3d(1.1, 1.1, 1.1);
}
 40% {
 -webkit-transform: scale3d(.9, .9, .9);
 transform: scale3d(.9, .9, .9);
}
 60% {
 -webkit-transform: scale3d(1.03, 1.03, 1.03);
 transform: scale3d(1.03, 1.03, 1.03);
}
 80% {
 -webkit-transform: scale3d(.97, .97, .97);
 transform: scale3d(.97, .97, .97);
}
 to {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);

 /* remove blur on text*/
 	backface-visibility: hidden;
}
}
