/*  base.css */


/* issues caused by ember - need to test on staging before removing this totally
.ember-view {
	height: 100%;
	width: auto;
	display: inline;
}*/
/* Links ---------------------- */

a {
	color: #000;
	text-decoration: none;
	line-height: inherit;
	cursor: pointer;
}
a:hover {
/*color: #eac033;*/
}
a:focus {
	outline: none;
}
p {
	font-weight: normal;
	margin-bottom: 20px;
	font: 18px "k-font-regular", tahoma, sans-serif;
	color: #555;
}
p a {
	color: #2ba6b3;
}
.clearfix {
	display: block;
	clear: both;
}
/* Lists */
ul, ol {
	font-size: 14px;
	line-height: 1.6;
	margin-bottom: 17px;
	list-style-position: outside;
}
ul li ul {
	margin-left: 20px;
	margin-bottom: 0;
	list-style: outside;
}
/* other ---------------------- */
html.no-scroll, html.no-scroll body, .no-scroll {
	overflow: hidden;
}
.displayNone, .display-none {
	display: none!important;
}
.displayBlock {
	display: block;
}
hr {
	height: 8px;
	border: 0;
	border-top: 2px solid #ccc;
	width: 100%;
}
.hide {
	display: none;
}
/* simple loading */
.k-loading {
	background-size: 68px 2px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url(../assets/images/loader.gif);
	min-height: 50px;
	display: block;
	float: left;
	width: 100%;
}
/* olark overides */
#habla_window_div div#olark-callout-bubble, #habla_window_div div#olark-callout-bubble-offline {
	position: fixed!important;
    bottom: 20px;
    right: 20px;
    left: auto;
}

.olrk-state-compressed #habla_window_div.habla_window_div_base .hbl_pal_main_bg{
	opacity:0;
}

#habla_window_div .olark-callout-bubble-close-button {
	display:none!important;
}

