/* fake intercom button*/
.intercom-launcher {
	z-index: 2147483000;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 48px;
	height: 48px;
	-webkit-transform: translateZ(0);
}
.intercom-launcher-button {
	z-index: 2147483000;
	background-image: url(https://js.intercomcdn.com/images/icon-launcher-acquire.8a742481.png);
	background-size: 26px 25px;
	background-repeat: no-repeat;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 48px;
	height: 48px;
	cursor: pointer;
	background-position: center;
	background-color: #111;
	border: 1px solid #000;
}


/* fake FCL or LCL order*/        
.show-lcl .LCL-only {
	display: block;
}
.show-lcl .FCL-only, .LCL-only {
	display: none;
}