
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Errors - Move to errors.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.alert, .warning, .general-error {
	background-color: #D23A3A;
	background-image: linear-gradient(top, #D23A3A 20%, #d25656 100%);
	background-image: -o-linear-gradient(top, #D23A3A 20%, #d25656 100%);
	background-image: -moz-linear-gradient(top, #D23A3A 20%, #d25656 100%);
	background-image: -webkit-linear-gradient(top, #D23A3A 20%, #d25656 100%);
	background-image: -ms-linear-gradient(top, #D23A3A 20%, #d25656 100%);
	color: #000;
	padding: 8px 8px 0px 8px;
	border-radius:6px;
	font-size: 16px;
	margin-top: -2px;
	margin-bottom: 10px;
	display: block;
	z-index: 9999;
	position: relative;
	float: left;
	width: 99%;
	margin-left: 0.5%;
	-webkit-transition: all .88s cubic-bezier(.43, .72, .42, .95);
	-moz-transition: all .88s cubic-bezier(.43, .72, .42, .95);
	-o-transition: all .88s cubic-bezier(.43, .72, .42, .95);
	-ms-transition: all .88s cubic-bezier(.43, .72, .42, .95);
	transition: all .88s cubic-bezier(.43, .72, .42, .95);
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
	opacity: 1;
	overflow: inherit;
	max-height: 999px;
    box-shadow: 0 2px #a03333;
}
.warning {
	background-color: #444;
	background-image: linear-gradient(top, #222 20%, #777 100%);
	background-image: -o-linear-gradient(top, #222 20%, #777 100%);
	background-image: -moz-linear-gradient(top, #222 20%, #777 100%);
	background-image: -webkit-linear-gradient(top, #222 20%, #777 100%);
	background-image: -ms-linear-gradient(top, #222 20%, #777 100%);
	border-bottom: 3px solid #000;
}
.alert.hide-alert, .warning.hide-alert, .alert.displayNone, .general-error.hide-alert, .container-options .darkerPanel .alert.hide-alert, .alert.error-below.hide-alert  {
	max-height: 0;
	padding: 0;
	margin-top: 0;
	margin-bottom: -10%;
	opacity: 0;
	line-height: 0;
	font-size: 1px;
	border-radius: 18px;
	overflow: hidden;
	-webkit-transition: all .02s cubic-bezier(.43, .72, .42, .95);
	-moz-transition: all .02s cubic-bezier(.43, .72, .42, .95);
	-o-transition: all .02s cubic-bezier(.43, .72, .42, .95);
	-ms-transition: all .02s cubic-bezier(.43, .72, .42, .95);
	transition: all .02s cubic-bezier(.43, .72, .42, .95);
	pointer-events: none;
}
.orderDetails .alert {
	position: absolute;
	margin-top: 45px;
}
.alert-box .k-button.moveForward {
	margin: 0px 0 6px 0;
	width: 100%;
}
.bclever-modal .alert {
	padding: 8px 8px 1px 8px;
}
.alert p, .warning p, .alert p:first-of-type, .darkPanel.quote_panel .alert p, .general-error p, .darkPanel.quote_panel .general-error p {
	color: #fff;
	font-family: "k-font-regular", tahoma, sans-serif;
	padding: 4px 0px 0px 0px;
	width: 100%;
	text-align: center;
	border-top: dotted 0px #555;
	margin: 5px 0 15px 0;
	text-shadow: #a03333 0px -1px 0px;
}
.warning p {
	text-shadow: 0px -1px 0px #000;
}
.alert:before, .warning:before {
    width: 0;
    height: 0;
    border-left: 22px solid rgba(0, 0, 0, 0);
    border-right: 22px solid rgba(0, 0, 0, 0);
    border-bottom: 22px solid #D23A3A;
    position: absolute;
    margin-top: -20px;
    left: 49%;
    left: calc(50% - 11px);
    content: "";
    z-index: 99;
}
.alert.error-below {
	margin-bottom:30px;
}
.alert.error-below:before {
    border-bottom: 22px solid rgba(0, 0, 0, 0);
    border-top: 22px solid #d35251;
    bottom: -40px;
	    left: 8px;
}
.warning:before {
	border-bottom: 22px solid #222;
}
.alert-box.success {
	padding: 28px 10px 24px 18px;
	background: #f9e7cc;
	border-radius: 4px;
	z-index: 3;
	display: block;
	position: relative;
	background: -moz-linear-gradient(top, rgba(249,236,179,1) 0%, rgba(241,219,106,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F9ECB3), color-stop(100%, #E8D780));
	background: -webkit-linear-gradient(top, #F9ECB3 0%, #E8D780 100%);
	background: -o-linear-gradient(top, rgba(249,236,179,1) 0%, rgba(241,219,106,1) 100%);
	background: -ms-linear-gradient(top, rgba(249,236,179,1) 0%, rgba(241,219,106,1) 100%);
	background: linear-gradient(to bottom, #F9ECB3 0%, #E8D780 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9ecb3', endColorstr='#f1db6a', GradientType=0 );
	border-radius: 8px;
	border-bottom: 1px solid #C2A376;
	text-align: center;
}
#password_modal .alert-box.success {
	margin-top: -52px;
	margin-bottom: -70px;
	padding: 32px 10px 32px 18px;
}
.alert-box.success p {
	font: 22px "bclever_font_regular", tahoma, sans-serif;
	color: #2D2C2A;
	text-shadow: 0px 1px 0px #FBF2D3;
}
.alert a, .warning a, .general-error a {
	font-weight: bold;
	color: #fff;
}
/* emberview causes issues with flexbox*/
.form-group .ember-view.alert {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
}
