/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
forms.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* fieldsets */
fieldset {
    width: 100%;
	border: none;
    padding: 10px;
}
legend {
	float: left;
	border: 0; 
	padding: 0 28px 0 0;
	font: 22px "k-font-medium", tahoma, sans-serif;

}
label {
	font-weight: bold;
	text-decoration: none;
	/*white-space: nowrap;*/
	display: inline;
	position: relative;
	font: 18px "k-font-medium", tahoma, sans-serif;
}
label strong {
	    font: 15px "k-font-regular", tahoma, sans-serif;
    margin: 4px 0 0 5px;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	border: none;
	color: #777;
	display: block;
	font:18px "k-font-regular", tahoma, sans-serif;
	margin: 0 0 12px 0;
	padding: 6px;
	overflow: hidden;
	min-height: 30px;
	resize: none;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
}
/* Don't use native buttons on iOS */
input[type=submit], input[type=submit].k-button, button.k-button, button {
	-webkit-appearance: none;
}

/* Checkboxes & radios */
.k-form-group .chk-holder {
	float: left;
	margin: 2px 28px 0 0;
}
.k-form-group .chk-holder label {
	display: block;
    margin:0;
}
input[type="checkbox"], input[type="radio"] {
	display: none;
}
input[type="checkbox"] + label span, input[type="radio"] + label span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: -6px 10px 0 0;
	vertical-align: middle;
	cursor: pointer;
	background-color: #fff;
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}
input[type="radio"] + label span {
	width: 21px;
	height: 21px;
	margin: -6px 10px 0 0;
	border-radius: 28px;
}
input[type="checkbox"]:checked + label span:before, input[type="radio"]:checked + label span:before {
	font-family: 'icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\e941";
	margin: 0px;
	left: 1px;
	top: -4px;
	display: block;
	position: relative;
	color: #2ba6b3;
	font-size: 21px;
	/* casues blurring
    -webkit-animation-name: bounce;
	animation-name: bounce;
	-webkit-animation-duration: .75s;
	animation-duration: .75s;
	-webkit-transform-origin: center center;
	transform-origin: center center;*/
	
}
input[type="radio"]:checked + label span:before {
	height: 9px;
	width: 9px;
	background-color: #2BA6B3;
	content: "";
	left: 4px;
	top: 4px;
	border-radius: 18px;
	/* casues blurring
	animation-duration: 0.75s;
	animation-name: bounce;
	transform-origin: center center 0px;
	transform: scale3d(1, 1, 1);*/
}

.expandingContainer .chk-holder {
	float: right;
}
/* Selects*/
select {
	width: 100%;
}
.select-holder {
	margin: 0;
}
.select-holder select {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	position: relative;
	padding: 9px 12px 8px 12px;
	border: none;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.24);
	border: 1px solid rgba(0,0,0,0.1);
	vertical-align: middle;
	background-color: #FFF;
	font: 18px "k-font-regular", tahoma, sans-serif;
}
.select-holder.icon_select:before {
	    float: right;
    z-index: 2;
    display: inline-block;
    position: relative;
    margin: 0 5px -20px 0px;
    top: 12px;
	color:#111;
}
.read-only .select-holder.icon_select:before {
	color:#fff;
  
}
.read-only .select-holder select {
	background-color: rgba(255,255,255,0.04);
    color: #fff;
    border: 1px solid rgba(255,255,255,0.4);
}
/*hide dropdown arrow on IE*/
select::-ms-expand {
 display: none;
}
select::-moz-expand {
 display: none;
}
.k-form-group .select-holder {
	margin: 0px 0 0 10px;
	    min-width: 70px;
}
.k-form-group {
	background-color: #FFF;
	border-radius: 6px;
	float: left;
	width: 100%;
	padding: 8px;
	text-align: left;
	margin-bottom: 8px;
	min-height: 58px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
}
.k-form-group.dark {
	background-color:transparent;

}
.k-form-group.read-only {
	    background-color: rgba(0,0,0,0.1);
		border: 1px solid rgba(255,255,255,0.4);

}
.k-form-group input, .k-form-group textarea, .dropit, .from-dropdown, .typeahead-holder, .k-form-group.bc_tooltip-holder, .k-form-group .select-holder, .k-form-group .ember-view, .form-group .ember-view    {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	width: 100%;    /* For old syntax, otherwise collapses. */
	flex-basis: 0px;
}




.k-form-group label {
	display: flex;
	margin: 10px 15px 10px 5px;
	color:#333;
}
.k-form-group.dark label, .k-form-group.read-only label {
	color:#fff;
}
.k-form-group input, .k-form-group textarea {
    float: left;
    font-size: 18px;
    color: #666;
    padding: 10px 8px 8px 8px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.k-form-group.read-only input {
	    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}
.k-form-group input.with-suffix, .k-form-group textarea.with-suffix {
	text-align:right;
}
.k-form-group textarea {
	resize: none;
	height: 38px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: pre-wrap;
}
input[type=range] {
	margin: 0px 0px 0 28px;
	min-width: 48%;
	height: 46px;
	-webkit-appearance: none;
}
.k-form-group input.temp-number {
	text-align: right;
	padding-right: 20px;
}
 /* IE 11+ */
_:-ms-fullscreen, :root input[type=range] {
 min-width: 24%;
}
input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height:7px;
 border-radius:4px;
 cursor: pointer;
 background: #3071a9;
 background: linear-gradient(to right, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* W3C */
}
input[type=range]::-webkit-slider-thumb {
 margin-top: -4px;
}
input[type=range]::-ms-thumb {
 margin-top: 0px;
}
 input[type=range]::-moz-range-track {
 width: 100%;
 height:7px;
 border-radius:4px;
 cursor: pointer;
 background: #3071a9;
 background: linear-gradient(to right, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* W3C */
}
input[type=range]::-ms-track {
 background: #ccc;
 border: 1px solid #ccc;
 background: -ms-linear-gradient(left, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* IE10+ */
}
.form-group.bc-disabled label, .form-group.bc-disabled select, .form-group.bc-disabled .dropit, .form-group.bc-disabled .bc_button {
	opacity: .4;
	pointer-events: none;
}
/* focus */

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, .editable:focus, select:focus, input[type=range]:focus {
	outline: none;
	background-image: none;
}
/* expanding containers */
.expandingContainer {
	background-color: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 4px;
	margin-bottom: 8px;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.4);
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	overflow: hidden;
	padding: 12px 12px 2px 12px;
}
.expander {
	-webkit-transition: all 2.8s ease-in-out;
	-moz-transition: all 2.8s ease-in-out;
	-o-transition: all 2.8s ease-in-out;
	-ms-transition: all 2.8s ease-in-out;
	transition: all 2.8s ease-in-out;
	max-height: 9999px;
	overflow: hidden;
}
.expander.expand-hidden {
	max-height: 0px;
	-webkit-transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.2s;
	transition: max-height .8s cubic-bezier(0, 1, 0, 1) -.2s;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

/* number inputs */
.number-holder {
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    width: 148px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
    height: 42px;
    margin: 2px 0 0px auto;
}
.dark .number-holder {
	  background: #475f68;
 background-image: -webkit-linear-gradient(top, #475f68 1%, #38454a 100%);
}
 
.number-holder input {
	text-align:center;
	padding-top:8px;
	    border-radius: 4px;

}
.btn-number-change {
 background: #fff;
    color: #333;
    border: none;
    border-right: 1px solid rgba(0,0,0,0.1);
    font: 20px "k-font-medium", tahoma, sans-serif;
    padding: 0 14px;
    font-weight: 600;
}
.dark .btn-number-change {
    color: rgba(255,255,255,0.68);
    border: none;
	background-color:transparent;
}
.dark .btn-number-change:hover {
    background: #38454a;
    background-image: -webkit-linear-gradient(top, #38454a 1%, #475f68 100%);
}

.number-holder button:last-child {
	 border-right:none;
	  border-left: 1px solid rgba(0,0,0,0.1);	
}
.dark .number-holder button:last-child {
	border:none;
}

.k-unit {
    font: 18px 'Lucida Grande', tahoma, sans-serif;
    color: #000;
    display: block;
    padding: 13px 10px 0 8px;
	    min-width: 45px;
}
.k-form-group.read-only .k-unit   {
    color: #fff;
    padding-top: 14px;
}
