/*  app.css 

Contains:

navigation.css
home-screen.css
focus-panels.css
module-nav.css

*/

.app body {
	background-image: url(../assets/images/bg.jpg);
	background-size: cover;
	background-color: #2ba6b3;
	background-position: 50%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
home-screen.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.home-screen {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 78%;
}
.home-screen h1 {
	margin: 0px 0 10px 0;
	font-size: 55px;
	color: #fff;
	color: rgba(255,255,255,0.7);
	margin-top: 68px;
}
.home-screen p {
	color: #111;
	padding-bottom: 20px;
	font-size: 20px;
	color: rgba(0,0,0,0.8);
}
.logo {
	width: 180px;
	height: 45px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
focus-panels.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.focus-panel {
	display: block;
	background-color: rgba(255,255,255,0);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
	z-index: 2;
	margin: 0px;
	-webkit-transition: opacity .4s cubic-bezier(0.7, 0, 0.3, 1);
	transition: opacity .4s cubic-bezier(0.7, 0, 0.3, 1);
}
.focus-panel.panel-open {
	opacity: 1;
	pointer-events: auto;
	transition-delay:600ms;
}
.focus-panel-bg {
	display: block;
	position: fixed;
	height: 0;
	width: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
	-webkit-transition: all .8s cubic-bezier(0.7, 0, 0.3, 1), opacity .38s cubic-bezier(0.7, 0, 0.3, 1) .6s;
	transition: all .8s cubic-bezier(0.7, 0, 0.3, 1), opacity .38s cubic-bezier(0.7, 0, 0.3, 1) .6s;
	border-radius: 6px;
	background: rgb(255,255,255);
    background: -moz-linear-gradient(top, #fff 70px, #e8edf1 99%);
    background: -webkit-linear-gradient(top, #FFF 70px, #e8edf1 99%);
    background: linear-gradient(to bottom, #FFF 70px, #e8edf1 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8edf1', GradientType=0 );
}
.focus-panel-bg.panel-open {
	-webkit-transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity .08s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.6s cubic-bezier(0.7, 0, 0.3, 1), opacity .08s cubic-bezier(0.7, 0, 0.3, 1);
	opacity: 1;
	pointer-events: auto;
	margin: 0px;
	height: 100%!important;
	width: 100%!important;
	top: 0!important;
	left: 0!important;
	opacity: 1;
	border-radius: 0px;
}
.step-section {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	margin-top: 33px;
	margin-left: 125px;
	padding: 28px 28px;
	width: calc(100% - 250px);
	text-align: center;
	max-height: calc(100% - 68px);
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	opacity: 0;
}
.step-section.full-width {
	margin-left: 0;
	width: 100%;
}
.step-section.to-do {
	-webkit-transform: translate(-50%, 800px);
	transform: translate(-50%, 800px);
}
.step-section.done {
	-webkit-transform: translate(-50%, -800px);
	transform: translate(-50%, -800px);
}
.step-section.current {
	opacity: 1;
}
.step-section.done.shunt, .step-section.to-do.shunt, .step-section.shunt {
	transition: none!important;
	-webkit-transition: none!important;
}
/*during transitions prevent hover effects*/
.step-section.done li, .step-section.to-do li, .step-section.done a, .step-section.to-do a {
	pointer-events: none;
}
.step-section.dock-results {
	background-color: rgba(255,255,255,0.94);
	transform: translate(-50%, 35px);
	top: 0%;
	-webkit-transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	border-bottom: 2px solid rgba(0,0,0,0.3);
}
.home-screen h1, .step-section h1 {
	font-family:"k-font-medium", tahoma, sans-serif;
}
/*sections with mutliple questions*/
.multi-question {
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0px 0px 38px 0px rgba(234,237,241,0.38);
	margin: 40px auto -20px auto;
	max-width: 768px;
	display: block;
}
.multi-question .big-button.boole {
	min-width: 100px;
	height: 70px;
	max-width: 130px;
	width: 50%;
}
.multi-question .big-button span.big-text {
	font-size: 20px;
	margin-top: 8px;
}
.multi-question p {
	width: 45%;
	float: left;
	text-align: left;
	padding: 0px 0 0 38px;
	display:block;
	min-height: 105px;
	position: relative;
}
.multi-question p span {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.multi-answer {
	width: 55%;
	display: inline-block;
	text-align: right;
}
