/* google maps */
.map-holder {
    position: fixed;
    top: 0;
   right:-18px;
    height: 100%;
    width: 100%;
     z-index: 2147483640;
    width: calc(100% - 250px);
    pointer-events: none;
    -webkit-transition: all 0.8s cubic-bezier(.29, .1, .5, .99);
    transition: all 0.8s cubic-bezier(.29, .1, .5, .99);
    transition-delay: 0ms;
    opacity: 0;
    overflow: hidden;
	pointer-events:none;
	    border-left: 2px solid rgba(0,0,0,0.2);
}
.to-map, .from-map {
    width: 40%;
    
}
.map-holder.show-map {
    opacity: 1;
    pointer-events: auto;
    transition-delay: 388ms;
	right:0;
	pointer-events:auto;
	
}

.map {
	width:100%;
	height:100%;
}