
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
grid.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.row {
	width: 100%;
	margin: 0 auto;
}
.row .row {
	width: auto;
	max-width: none;
	min-width: 0;
}
.row form .row {
    margin: 0 -6px;
}
.row.flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.column, .columns {
	float: left;
	min-height: 1px;
	padding: 0;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.column.centered, .columns.centered {
	float: none;
	margin: 0 auto;
}
[class*="column"] + [class*="column"].end {
	float: left;
}
.row .one {
	width: 8.3333%;
}
.row .two {
	width: 16.6667%;
}
.row .three {
	width: 25%;
}
.row .four {
	width: 33.3333%;
}
.row .five {
	width: 41.6667%;
}
.row .six {
	width: 50%;
}
.row .seven {
	width: 58.3333%;
}
.row .eight {
	width: 66.6667%;
}
.row .nine {
	width: 75%;
}
.row .ten {
	width: 83.3333%;
}
.row .eleven {
	width: 91.6667%;
}
.row .twelve {
	width: 100%;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

/* offsets */
.row .offset-one {
	margin-left: 8.3333%;
}
.row .offset-two {
	margin-left: 16.6667%;
}
.row .offset-three {
	margin-left: 25%;
}
.row .offset-four {
	margin-left: 33.3333%;
}
.row .offset-five {
	margin-left: 41.6667%;
}
.row .offset-six {
	margin-left: 50%;
}
.row .offset-seven {
	margin-left: 58.3333%;
}
.row .offset-eight {
	margin-left: 66.6667%;
}
.row .offset-nine {
	margin-left: 75%;
}
.row .offset-ten {
	margin-left: 83.3333%;
}
.row .offset-eleven {
	margin-left: 91.6667%;
}
.pad-left {
	padding-left:8px;}
	
.pad-right {
	padding-right:8px;}
