.map-wrapper {
	margin: 0 0 30px 0;
	box-shadow: 0 2px 2px 0px rgba(0,0,0,0.2);
	border-radius: 4px;
	background-color: #1f2c32;
	background-size: 38px 1px;
	background-position: 50% 53%;
	background-repeat: no-repeat;
	background-image: url(../assets/images/loader.gif);
}
 @-moz-keyframes fadeAnimation {
	0% {
	opacity:0;
	}
	80% {
	opacity:0;
	}
	100% {
	opacity:1;
	}

}
@-webkit-keyframes fadeAnimation {
	0% {
	opacity:0;
	}
	80% {
	opacity:0;
	}
	100% {
	opacity:1;
	}

}
@-o-keyframes fadeAnimation {
	0% {
	opacity:0;
	}
	80% {
	opacity:0;
	}
	100% {
	opacity:1;
	}

}
@-ms-keyframes fadeAnimation {
	0% {
	opacity:0;
	}
	80% {
	opacity:0;
	}
	100% {
	opacity:1;
	}

}
@keyframes fadeAnimation {
	0% {
	opacity:0;
	}
	80% {
	opacity:0;
	}
	100% {
	opacity:1;
	}
}
.map-wrapper iframe {
	width: 100%;
	height: 500px;
	border: none;
	margin: 0 0 -5px 0;
	opacity: 1;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-name: fadeAnimation;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-name: fadeAnimation;

}
h3.map-heading {
	position: absolute;
	background-color: rgba(21,29,36,0.88);
	width: 100%;
	padding: 12px 0 12px 18px;
	color: #fff;
	margin: 0px -10px -10px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	font: 20px "k-font-regular", tahoma, sans-serif;
	z-index: 99;
}
h3.map-heading span {
	float: right;
	padding-right: 50px;
	opacity: 0.7;
	font-size: 17px;
	margin-top: 2px;
	font-style: italic;
}
h3.map-heading span:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 18px;
	top: 13px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: 27px -288px;
	background-size: 400px 2500px;
	padding-right: 42px;
	font: 16px "k-font-regular", tahoma, sans-serif;
}
.map-list {
	position: absolute;
	top: 51px;
	right: -250px;
	background-color: rgba(18,26,32,0.68);
	display: block;
	height: 450px;
	overflow: hidden;
	overflow-y: auto;
	-webkit-transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	transition: all 488ms cubic-bezier(.74, .01, .34, 1);
	max-width: 250px;
	box-shadow: inset 8px 0px 28px 0 rgba(0,0,0,0.36);
	transition-delay: 0.2s;
}
.map-wrapper:hover .map-list {
	transition-delay: 0s;
	right: 0px;
}
.map-list li {
	display: block;
	padding: 10px 18px 10px 8px;
	font-size: 17px;
	border-top: 1px solid rgba(255,255,255,0.08);
	border-bottom: 1px solid rgba(0,0,0,0.6);
	background-color: rgba(18,26,32,0.68);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-left:2px solid  transparent;
}
.map-list li.current {

	border-left:2px solid  #2BA6B3;
}
.map-list h4 {
font-size: 14px;
    font-style: italic;
    background-color: #121a20;
    margin: 0;
    padding: 8px 15px;
    opacity: 0.8;
}
	
.map-list li:hover {
	cursor: pointer;
	background-color: #2BA6B3;
}
.map-list li:before {
	content: '';
	position: relative;
	width: 24px;
	height: 10px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -15px -300px;
	background-size: 400px 2500px;
	font: 16px "k-font-regular", tahoma, sans-serif;
	display: block;
	float: left;
	-ms-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	transform: rotate(270deg);
	margin: 0;
	top: 10px;
	opacity: 0.5;
}
