/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
modals.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.k-modal {
	position: absolute;
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/*prevents webkit blur on GPU accerated elements - braks safari 10
	-webkit-filter: blur(0);*/
	text-align: center;
	z-index: 2147483640;
	width: 100%;
	padding: 88px;
	overflow: hidden;
	overflow-y: auto;
	max-height: 100%;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	opacity: 0;
	pointer-events: none;
}
.k-modal.k-modal-open {
	transition-delay: 0.3s;
	opacity: 1;
	pointer-events: auto;
	-webkit-overflow-scrolling: touch;
}
.k-modal h1, .k-modal p {
	max-width: 945px;
	margin: 0 auto;
}
.k-modal p {

	margin: 0 auto 20px auto;
}
.k-modal.dark h1 {
	color: #fff;
}
.k-modal p {
	margin-top: 10px;
}
.k-modal.dark p {
	color: rgba(255,255,255,0.6);
}
.k-modal p strong {
	color: #333;
}
.k-modal.dark p strong {
	color: rgba(255,255,255,1);
}
.k-modal p em {
	color: #222;
}
.k-modal.dark p em {
	color: rgba(255,255,255,1);
}
.k-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 2147483639;
	top: 0;
	left: 0;
	/*min-height: 8000px;*/
	opacity: 0;
	pointer-events: none;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	transition-delay: 0.6s;
	background-image: none;
	background-color: #fff;
	    background: radial-gradient(ellipse at center, #fff 48%,#fff 18%,#EAEDF1 100%);
}
.k-modal-bg.dark {
	background: #1E8199; 
	background: -moz-radial-gradient(center, ellipse cover,  #1E8199 18%, #1E8199 18%, #043364 100%); 
	background: -webkit-radial-gradient(center, ellipse cover,  #1E8199 18%,#1E8199 18%,#043364 100%); 
	background: radial-gradient(ellipse at center,  #1E8199 18%,#1E8199 18%,#043364 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1E8199', endColorstr='#043364',GradientType=1 );
	/*background-color: rgba(17,17,17,0.96)*/
}
.k-modal-bg.k-modal-open {
	opacity: 1;
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition-delay: 0s;
}
/* alternate-location modal*/
.k-modal.alternate-location {
	width: 60%;
	left: 0;
	transform: translate(-2%, -50%);
}
.k-modal.alternate-location.k-modal-open {
	transform: translate(0%, -50%);
	
	
	/* transitions may need resetting if we scroll the list when showing the clicked marker
	transition-delay: 0s;
	-webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    -ms-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;*/
}

/* */
.blur {
	    -webkit-filter: url('#blur');
    filter: url('#blur');
    -webkit-filter: blur(5px);
    filter: blur(5px);

}


/* IE 9, 10 & 11 -- start it small because pointer events arent supported and it covers other inputs without this*/
@media screen and (min-width:0\0) {
 .bclever-modal-bg {
 top: 50%;
 left: 50%;
 height:0%;
 width: 0%;
 -ms-transform:scale(.01);
 transform:scale(.01);
 min-height:0px;
}
}
