/* Notifications */

.k-notify, .callout {
	position: fixed;
	z-index: 9999999999;
	width: 100%;
	padding: 8px;
	background: #2ba6b3;
	-webkit-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.58);
	text-align: center;
	opacity: 0;
	top: -185px;
}
.k-notify.error {
	background: #bc2020;
}
.k-notify.show, .callout.show {
	opacity: 1;
	top: 0px;
}
.k-notify-holder {
	max-width: 69em;
	margin: 0px auto 0px auto;
	text-align: left;
}
.k-notify p {
	color: #fff;
	float: left;
	margin-top: 18px;
}
.k-notify p.centered {
	width: 100%;
	text-align: center;
}
.k-notify p a {
	color: rgba(255,255,255,0.6);
	font-weight: bold;
}
.k-notify .k-button, .k-notify .k-button:hover {
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.3);
	text-shadow: none;
	color: rgba(0, 0, 0, 0.68);
	padding: 10px 35px 10px 35px;
	float: right;
}
.k-notify .k-button:hover {
	background: rgba(255, 255, 255, 0.6);
}
/*--  cookies --*/
.cookie-message {
	position: fixed;
	bottom: -100px;
	width: 100%;
	z-index: 1;
	min-width: 1000px;
	display: block;
	background-color: #111;
	padding: 18px 0;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	overflow: hidden;
}
.cookie-message.show {
	bottom: 0;
}
.cookie-message-holder {
	width: 100%;
	max-width: 78%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.cookie-message p {
  color: #eee;
    font-size: 15px;
    margin: 0;
    text-align: center;
    padding: 0px 20px 0px 0;
    display: inline-block;
}

.cookie-message .k-button.simple {
	    display: inline-block;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 88px;
    padding: 8px 14px 9px 14px;
	    font-size: 15px;
}
.cookie-message .k-button.simple:hover {
    border: 2px solid #F1BF1A;
}


/*--  callout --*/
.callout {
	background-color: #eaedf1;
	padding: 15px 8px 8px 8px;
}
.callout .k-form-group {
	box-shadow: 0px 0px 4px 0px #EAEDF1;
	min-height: 28px;
	padding: 0 8px 2px 8px;
}
.callout p {
	color: #111;
}
.callout .k-button, .callout .k-button:hover {
	float: left;
	margin: 0 0 0 10px;
	padding: 8px 35px 9px 35px;
}
.callout .btn_close {
	top: 18px;
	right: 18px;
	opacity: 0.5;
}
