/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
preloader.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.page-loader {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 9999999999;
}
.k-page-loaded .page-loader {
	pointer-events: none;
}
.page-loader-slide-one, .page-loader-slide-two {
	position: fixed;
	height: 50%;
	width: 100%;
	pointer-events: none;
	background-color: #111;
	top: 0;
	left: 0;
	-moz-transform: translate(0px, 0px);
	-o-transform: translate(0px, 0px);
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	-webkit-transition: all .8s cubic-bezier(.68, .07, .37, .94);
	-moz-transition: all .8s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .8s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .8s cubic-bezier(.68, .07, .37, .94);
	transition: all .8s cubic-bezier(.68, .07, .37, .94);
	overflow: hidden;
}
.page-loader-slide-two {
	-moz-transform: translate(0px, 100%);
	-o-transform: translate(0px, 100%);
	-webkit-transform: translate(0px, 100%);
	transform: translate(0px, 100%);
	background-color: #111;
}
.k-page-loaded .page-loader-slide-two {
	background-image: none;
}
.k-page-loaded .page-loader-slide-one {
	-moz-transform: translate(0px, -100%);
	-o-transform: translate(0px, -100%);
	-webkit-transform: translate(0px, -100%);
	transform: translate(0px, -100%);
	-webkit-transition-delay: .28s;
	transition-delay: .28s;
}
.k-page-loaded .page-loader-slide-two {
	-moz-transform: translate(0px, 2100%);
	-o-transform: translate(0px, 200%);
	-webkit-transform: translate(0px, 200%);
	transform: translate(0px, 200%);
	-webkit-transition-delay: .28s;
	transition-delay: .28s;
}
.page-loader-slide-one:after {
	position: relative;
	content: "";
	height: 42px;
	width: 196px;
	display: block;
	background: url(../assets/images/logo.svg) 0 0 no-repeat;
	background-size: 196px 40px;
	margin-left: 42.5%;
	margin-left: calc(50% - 98px);
	margin-top: 0;
	top: calc(100% - 68px);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 1;
}
.k-page-loading .page-loader-slide-one:after {
	opacity: 1;
}
.k-page-loaded .page-loader-slide-one:after {
	opacity: 0;
	-o-transform: scale(.98);
	-moz-transform: scale(.98);
	-ms-transform: scale(.98);
	-webkit-transform: scale(.98);
	transform: scale(.98);
}

/* percent preloader */
#preloader {
    font-family: Arial;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    z-index: 99999999999;
	background-color: rgba(0, 0, 0, 0)!important;
	
}
#preloader.preloader_number:before,
#preloader.preloader_progress:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
#preloader.complete {
    opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
 
}
#preloader.preloader_line {
    height: 2px;
    bottom: auto;
}


/* Progress Mode */

#preloader.preloader_progress .preloader_percentage {
     position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font: 16px "bclever_font_medium", tahoma, sans-serif;
}
#preloader.preloader_progress .preloader_loader {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: -10px auto auto auto;
    background-color: rgba(0, 0, 0, 1);
}
#preloader.preloader_progress .preloader_meter {
    width: 0;
    height: 100%;
    /*margin: auto; center progress bar*/
    padding: 0;
    background-color:#2ba6b3;

}

