#royal_preloader.complete {
    opacity: 0;
	pointer-events: none;

}
#royal_preloader {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    margin: 0;
	width:100%;
    z-index: 9999999999;
	background-color:transparent;
	

}

.k-page-loading #royal_preloader {
	
	background-color:#000;
	opacity:1;
}

.k-page-loaded #royal_preloader {
 
	background-color:rgba(255,255,255,0.1);
	opacity:0;
}
#royal_preloader.royal_preloader_number:before,
#royal_preloader.royal_preloader_progress:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}



/* Progress Mode */

#royal_preloader.royal_preloader_progress .royal_preloader_loader {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%;
    right: 0;
    width: 120%;
    height: 1px;
    margin: 0px auto auto auto;
	
	
}
#royal_preloader.royal_preloader_progress .royal_preloader_meter {
    width: 0;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
	opacity:1;
	
	transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transition: all .2s cubic-bezier(0.7, 0, 0.3, 1;

}







