.results-holder {
	/* make room for tools*/
	padding-top: 70px;
}
.quote-tools {
	background-color: #f3f4f6;
	background: -moz-linear-gradient(top, rgba(249,251,252,1) 1%, rgba(234,237,241,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(249,251,252,1) 1%, rgba(234,237,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(249,251,252,1) 1%, rgba(234,237,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fbfc', endColorstr='#eaedf1', GradientType=0 ); /* IE6-9 */
	position: fixed;
	top: 0px;
	-webkit-transform: translate(0%, -20px);
	transform: translate(0%, -20px);
	right: 0;
	width: calc(100% - 250px);
	padding: 6px 16px;
	border-bottom: 2px solid rgba(200,206,214,0.68);
	-webkit-transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	text-align: center;
	z-index: 1;
}
.quote-tools.show {
	-webkit-transform: translate(0%, 68px);
	transform: translate(0%, 68px);
}
.quote-tools .k-button {
	font-size: 14px;
	padding: 8px 12px 8px 12px;
	margin: 8px 0px 8px 0px;
	background-color: rgba(255,255,255,0.6);
	color: #656e7d;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: 0 2px 0 -0.5px #b7bbc1;
}
.quote-tools .k-button:hover, .quote-tools .k-button.selected {
	box-shadow: inset 0 1px 0 -0.5px #b7bbc1;
	top: 2px;
}
.quote-order span {
	padding: 16px 15px 0px 15px;
	font-size: 16px;
	color: #8e99aa;
	float: left;
}
.quote-tools-holder {
	max-width: 1000px;
	margin: 0 auto;
}
.quote-tools-holder h1 {
	display: inline-block;
	margin: 9px 0px 0 0px;
	text-align: left;
	color: #3f4958;
	font: 26px "k-font-regular", tahoma, sans-serif;
	float: left;
}
.quote-order, .quote-actions {
	display: inline-block;
}
.quote-actions {
	float: right;
}
.quote-order button:first-of-type {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -6px;
}
.quote-order button:last-of-type {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.quote-module, .quote-labels {
	border-radius: 8px;
	padding: 0px;
	max-width: 1000px;
	margin: 0 auto 0px auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.k-loading .quote-module, .k-loading .quote-labels {
	display: none;
}
.quote-module {
	border-radius: 8px;
	margin: 0 auto 10px auto;
	/*box-shadow: 0 2px 0 0px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);*/
	border-right: none;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 38px 0px rgba(234,237,241,0.38);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.quote-module:hover {
}
.q_month, .q_day {
	display: inline-block;
	text-align: center;
	font-size: 20px;
	color: #000;
}
.q_day span, .q_month, .q-total span {
	font-size: 15px;
	padding-left: 2px;
	opacity: 0.5;
}
.q_month {
	display: inline-block;
	margin-top: -21px;
	margin-bottom: -3px;
	text-transform: uppercase;
	opacity: 1;
	color: #62a5b3;
}
/* all cell types - quotes, saved quotes and bookmarks */
.q-carrier, .q-depart, .q-duration, .q-arrive, .q-cta, .q-cta-label, .q-location, .q-direction, .q-type, .q-from, .q-to, .q-name {
	padding: 8px;
	border-right: 1px solid #EAEDF1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	flex-basis: 0px;
	overflow: hidden;
	text-align: center;
}
.q-carrier, .q-depart, .q-duration, .q-arrive, .q-location {
	padding-top: 20px;
	padding-bottom: 18px;
}
.q-carrier {
	min-width: 280px;
	color: #000;
}
.q-cta {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#232f34+0,38454a+24,38454a+100 */
	background: rgb(35,47,52); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(35,47,52,1) 0%, rgba(56,69,74,1) 8%, rgba(56,69,74,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(35,47,52,1) 0%, rgba(56,69,74,1) 8%, rgba(56,69,74,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(35,47,52,1) 0%, rgba(56,69,74,1) 8%, rgba(56,69,74,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-right: none;
	min-width: 260px;
	max-width: 280px;
	padding: 19px 11px 2px 11px;
}
.q-cta-label {
	min-width: 260px;
	max-width: 280px;
}
/* quote-labels */
.quote-labels .q-carrier, .quote-labels .q-depart, .quote-labels .q-duration, .quote-labels .q-arrive, .q-cta-label, .quote-labels .q-location, .quote-labels .q-direction, .quote-labels .q-type, .quote-labels .q-from, .quote-labels .q-to, .quote-labels .q-name {
	border: none;
	padding-top: 0px;
	opacity: 0.5;
	font-size: 16px;
}
.quote-labels .q-carrier {
	text-align: left;
}
.quote-labels .q-carrier span {
	padding-left: 20px
}
.carrier-name, .location-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 250px;
	display: block;
	font-size: 16px;
	text-align: left;
	padding-left: 20px;
}
.location-name {
	text-align: center;
	padding: 0px 12px;
	max-width: 300px;
}
.q-total {
	color: #fff;
	font-size: 22px;
	width: 50%;
	float: left;
	margin-left: -4px;
	-webkit-transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
	overflow: hidden;
	height: 35px;
}
.show-breakdown .q-total {
	opacity: 0;
	pointer-events: none;
	width: 0%;
}
.q-total .k-button.simple, .quote-breakdown .k-button.simple {
	font-size: 14px;
	border: 1px solid rgba(255,255,255,0.2);
	padding: 3px 7px 3px 7px;
	margin: 4px 0px 0px 0px;
	color: rgba(255,255,255,0.6);
}
.q-total .k-button.simple {
	font-size: 18px;
	border: none;
	padding: 2px 6px 2px 5px;
	color: #fff;
	position: relative;
	margin: 0 -6px 0 0;
	display: inline-block;
	border-radius: 88px;
	float: right;
	-webkit-transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .4s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 0.2s;
}
.show-breakdown .q-total .k-button.simple {
	opacity: 0;
	transition-delay: 0s;
	-webkit-transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
}
.q-total .k-button.simple.icon:before {
	margin: -4px 0px 0 0;
}
.q-total .k-button.simple:hover {
	color: #F1BF1A;
}
.q-cta .k-button.cta {
	margin: -7px 0px 9px 0;
	padding: 5px 10px 6px 8px;
	font-size: 20px;
	float: right;
	width: 44%;
	-webkit-transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .2s cubic-bezier(0.7, 0, 0.3, 1);
	box-shadow: 0 2px 0 -0.5px rgba(0,0,0,0.4);
}
.q-cta .k-button.cta:hover {
	box-shadow: none;
	top: 1px;
}
.show-breakdown .k-button.cta {
	width: 100%;
}
.quote-breakdown {
	width: 100%;
	border-radius: 4px;
	padding: 0px 8px 0px 8px;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .6s cubic-bezier(0.7, 0, 0.3, 1);
	opacity: 0;
	position: relative;
}
.show-breakdown .quote-breakdown {
	max-height: 400px;
	margin: -3px 0 18px 0;
	opacity: 1;
	transition-delay: 0.15s;
	padding-bottom: 2px;
}
.quote-breakdown .row {
	margin-bottom: -6px;
	color: #fff;
}
.breakdown-item {
	display: block;
	float: left;
	font-size: 15px;
	color: #fff;
	width: 60%;
	text-align: left;
}
.row.total-row .breakdown-item {
	font-size: 18px;
	padding-top: 1px;
}
.quote-breakdown .row span {
	font-size: 12px;
}
.quote-breakdown strong.cost-note {
	font-size: 12px;
	padding-left: 5px;
}
.breakdown-item span {
	padding-left: 3px;
}
.breakdown-cost {
	float: right;
	text-align: right;
	line-height: 22px;
}
.quote-breakdown .k-button.simple {
	float: right;
	margin: 0 0 10px 0;
}
.total-row {
	border-top: 1px solid rgba(255,255,255,0.4);
	margin-top: 12px;
	padding-top: 6px;
}
.retrieve-code {
	max-width: 468px;
	margin: 0 auto;
	padding-bottom: 20px;
}
.retrieve-code .k-form-group {
	float: none;
	margin-top: 38px;
	padding-left: 15px;
	box-shadow: 0px 0px 38px 0px rgba(234,237,241,0.38);
}
.retrieve-code .alert:before {
	left: 18%;
}
/* make  offer */
.offer-panel {
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.1);
	max-width: 1000px;
	max-height: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0px auto 0px auto;
	-webkit-transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	opacity: 0;
}
.quote-tools.show .offer-panel.show {
	margin: 17px auto 0px auto;
	padding: 18px 0px 2px 0px;
	max-height: 128px;
	opacity: 1;
}
.offer-panel p {
	font-size: 15px;
	text-align: left;
	padding: 0px 18px 0 0;
	max-width: 320px;
	margin: 0;
	font-style: italic;
	color: #636c79;
}
.offer-panel .email-col {
	padding: 0 10px;
}
.quote-tools .offer-panel .k-button {
	width: 100%;
	padding: 10px 16px 9px 6px;
	margin: 0;
	font-size: 16px;
}
.quote-tools .k-form-group {
	box-shadow: 0px 0px 4px 0px #EAEDF1;
	min-height: 28px;
	padding: 0 8px 2px 8px;
}
.quote-tools .k-form-group label {
	margin: 10px 8px 10px 5px;
}
.quote-tools .k-form-group label.icon:before {
	margin: 3px 0px 0 6px;
}
.no-results {
	text-align: center;
}
.no-results p {
	font-size: 34px;
	color: #333;
	text-align: center;
}
.no-results p strong {
	color: #62a5b3;
}
.no-results p span {
	font-size: 18px;
	display: block;
	padding-top: 10px;
	opacity: .8;
}
/* dashboard save quotes + bookmarks */
.dash_holder .q-carrier, .dash_holder .q-depart, .dash_holder .q-arrive, .dash_holder .q-cta, .dash_holder .q-cta-label, .q-location, .q-direction, .q-type, .q-from, .q-to, .q-name {
	color: #eee;
}
.dash_holder .quote-module .q-depart, .dash_holder .quote-module .q-arrive, .dash_holder .quote-module .q-cta, .dash_holder .quote-module .q-cta-label, .q-location, .dash_holder .quote-module .q-name {
	border-right: 1px solid rgba(0,0,0,0.3);
}
.dash_holder .quote-module .q-arrive {
	border-right: none;
}
.dash_holder .quote-module .q-depart, .dash_holder .quote-module .q-arrive, .dash_holder .quote-module .q-location {
	padding-top: 33px;
}
.dash_holder .quote-module {
	background-color: rgba(135, 206, 235, 0.08);
	background: -moz-linear-gradient(top, #384c56 0%, rgba(47,66,75,0) 100%);
	background: -webkit-linear-gradient(top, #384c56 0%, rgba(47,66,75,0) 100%);
	background: linear-gradient(to bottom, #384c56 0%, rgba(47,66,75,0) 100%);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.28);
	border-bottom: none;
}
.dash_holder .q_month, .dash_holder .q_day {
	color: #fff;
}
.dash_holder .quote-module .q-cta {
	background: -moz-linear-gradient(left, #172227 0%, #212f35 8%, #212f35 100%);
	background: -webkit-linear-gradient(left, #172227 0%, #212f35 8%, #212f35 100%);
	background: linear-gradient(to right, #172227 0%, #212f35 8%, #212f35 100%);
	border-right: none;
}
.dash_holder .q_month {
	opacity: 0.5;
}
/* bookmarks*/
.q-direction, .q-type, .q-from, .q-to, .q-name {
	border-right: 1px solid rgba(0,0,0,0.3);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	font-size: 16px;
	padding-top: 18px;
}
.content-bookmarks .q-cta, .content-bookmarks .q-cta-label {
	min-width: 190px;
}
.content-bookmarks .q-cta .k-button.cta {
	width: 120px;
	margin-right: 45px;
}
.q-from, .q-to {
	min-width: 135px;
}
.q-direction, .q-type {
	max-width: 80px;
}
.q-name {
	min-width: 300px;
	text-align: left;
	padding-left: 20px;
}
