.bc_button {
    width: auto;
    cursor: pointer;
    line-height: 1;
    margin: 0;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    border: none;
    background: #2ba6b3;
    padding: 10px 35px 10px 35px;
    text-transform: auto;
    font: 16px "k-font-medium", tahoma, sans-serif;
    border-bottom: 2px solid #145f67;
    border-top: 1px solid #40becb;
    height: auto;
    text-shadow: #1a7c87 -1px -1px 0px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.bc_button.moveForward {
    float: right;
    font-size: 18px;
    margin: -18px 0 2px 0;
    padding: 10px 48px 10px 23px;
}

.bc-access-modal .bc_button.moveForward {
    float: right;
    margin: 0px 0 2px 0;
    padding: 15px 48px 15px 23px;
}
.bc_button.btn_contacts:before, .bc_button.btn-save:before, .bc_button.btn_add:before, .bc_button.btn_contact_new:before, .bc_button.btn_secondary.btn_remove:before, .bc_button.btn-share:before {
    height: 30px;
    width: 30px;
    content: "";
    display: block;
    float: left;
    margin: -3px 4px 0 -43px;
    position: absolute;
    background: url(../assets/images/svg_sprite.png) no-repeat;
    background-size: 400px 2500px;
}

.bc_button.moveForward:before {
    content: "";
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;
    background: url(../assets/images/svg_sprite.png) no-repeat;
    background-position: -42px -142px;
    background-size: 400px 2500px;
    margin: -3px 0 0 0;
    right: 12px;
    -o-transform: scale(.68);
    -moz-transform: scale(.68);
    -ms-transform: scale(.68);
    -webkit-transform: scale(.68);
    transform: scale(.68);
}