.booking_holder {
	/*background-color: #292e30;*/
	background-color: #27363d;
	padding-top: 20px;
}
.booking_holder hr {
	margin-top: 18px;
	margin-bottom: 18px;
	border: 0;
	border-radius: 4px;
	box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.02);
	float: left;
}
.booking_holder .expandingContainer hr {
	margin-bottom: 4px;
}
.booking_holder input[type="checkbox"] + label span, .booking_holder input[type="radio"] + label span, .bclever-modal input[type="checkbox"] + label span, .bclever-modal input[type="radio"] + label span {
	border: 2px solid rgba(0,0,0,0.8);
}
.booking_holder h1, .booking_holder h2, .booking_holder h3 {
	font-family: "k-font-regular", tahoma, sans-serif;
	color: #fff;
}
.darkerPanel.summaryElements {
	margin-top: -10px;
	float: right;
	width: calc(100% - 30px);
	margin-bottom: 0px;
}
.summaryLabel {
	color: #BBB;
	font-size: 18px;
	float: left;
	margin-top: -5px;
	font: 14px "k-font-regular", tahoma, sans-serif;
}
.darkerPanel.summaryElements span {
	font: 16px "k-font-regular", tahoma, sans-serif;
	float: left;
	display: block;
	clear: both;
	color: #888;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	margin-bottom: -2px;
}
.darkerPanel.summaryElements .three.columns {
	width: calc(25% - 8px);
	padding: 8px;
	margin-right: 8px;
	background: rgba(255, 255, 255, 0.02);
	border: 1px solid rgba(255, 255, 255, 0.08);
	margin-bottom: 1px;
}
.ac-container .contactContainer, .ac-container .expandingContainer {
	background-color: rgba(255, 255, 255, 0.05);
}
.expandingContainer .expandingContainer, .panelIndent {
	box-shadow: inset 4px 4px 4px -3px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.02);
	border-top: none;
	margin-bottom: 18px;
}
.expandingContainer .expandingContainer {
	margin-bottom: 10px;
	margin-top: 4px;
	padding: 12px;
	background-color: rgba(0, 0, 0, 0.12);
	min-width: 0px;
}
.expandingContainer .expandingContainer .expandingContainer {
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	min-width: 0px;
	margin: 0 0 -7px 0;
	border: none;
	box-shadow: none;
}
.expandingContainer.expandingCollect .expandingContainer .row:first-of-type .alert {
	margin-top: 15px;
}
.panelIndent {
	margin-bottom: 0;
}
.expandingContainer p {
	margin-bottom: 10px;
	color: #ccc;
	padding-left: 4px;
}
.expandingContainer .chk-holder {
	margin: 0 5px 0 18px;
	float: right;
}
.expandingContainer .expandingContainer .chk-holder {
	margin-top: 3px;
}
.expandingContainer label.confirmChk {
	float: right;
	margin: 0;
	color: #fff;
}
.contactContainer {
	padding: 13px 12px 12px 73px;
	margin-bottom: 0px;
	border: 2px solid #27363d;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background: rgba(0, 15, 21, 0.32);
	box-shadow: inset 0 2px 2px 0px rgba(0, 0, 0, 0.08);
	position: relative;
}
.customer-details-holder section:first-of-type {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.customer-details-holder section:last-of-type {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);/*box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.4);*/
}
.contactContainer:before, .customersHeading:before, .cargoHeading:before, .collectionHeading:before, .customsHeading:before, .referenceHeading:before, .basketHeading:before, .laddingHeading:before, .containersHeading:before, .hazardousHeading:before, .deliveryHeading:before, .tempHeading:before, .dimensionsHeading:before, .lclHeading:before {
	content: "";
	position: absolute;
	height: 47px;
	width: 50px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	margin: -3px 0px 0px -65px;
	background-size: 400px 2500px;
}
.contactContainer.addressFrom:before {
	background-position: -79px -133px;
}
.contactContainer.addressTo:before {
	background-position: -127px -133px;
}
.contactContainer.notifiedParty:before {
	background-position: 3px -427px;
}
.contactContainer.addressFrom .alert, .contactContainer.addressTo .alert {
	margin-top: 5px;
}
.contactContainer.addressFrom .alert:before, .contactContainer.addressTo .alert:before {
	left: 82%;
}
h3.customersHeading, h3.cargoHeading, h3.customsHeading, h3.collectionHeading, h3.customsHeading, h3.basketHeading, h3.laddingHeading, h3.containersHeading, h3.hazardousHeading, h3.deliveryHeading, h3.tempHeading, h3.dimensionsHeading, h3.lclHeading {
	padding-left: 45px;
	margin-left: 8px;
}
h3.containersHeading {
	margin-left: 18px;
}
h3.lclHeading {
	margin: 8px 0 0 4px;
}
.collectionHeading:before {
	margin: -13px 0px 0px -45px;
	background-position: -186px -132px;
}
.deliveryHeading:before {
	margin: -13px 0px 0px -45px;
	background-position: -108px -450px;
}
.customsHeading:before {
	margin: -13px 0px 0px -43px;
	background-position: -234px -132px;
}
.hazardousHeading:before {
	margin: -13px 0px 0px -45px;
	background-position: -50px -421px;
}
.customersHeading:before {
	margin: -13px 0px 0px -45px;
	background-position: -330px -133px;
}
.containersHeading:before {
	margin: -13px 0px 0px -63px;
	background-position: -56px -251px;
}
.cargoHeading:before {
	margin: -13px 0px 0px -45px;
	background-position: -284px -132px;
}
.referenceHeading:before {
	background-position: -118px -188px;
}
.laddingHeading:before {
	background-position: -103px -192px;
}
.tempHeading:before {
	background-position: -2px -507px;
	margin: -11px 0px 0px -52px;
}
.dimensionsHeading:before {
	background-position: -348px -507px;
	margin: -11px 0px 0px -52px;
}
.lclHeading:before {
	background-position: -97px -546px;
	margin: -11px 0px 0px -52px;
}
.reefer-icon, .hazardous-icon {
	height: 18px;
	width: 18px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-size: 200px 1250px;
	background-position: -5px -257px;
	background-color: #0885b3;
	display: inline-block;
	border-radius: 88px;
	box-shadow: inset -1px -2px 2px 0px rgba(255, 255, 255, 0.38);
	margin: 0px -10px 0 -8px;
	position: relative;
}
.hazardous-icon {
	background-position: -25.5px -215px;
	background-color: #c92e05;
	box-shadow: inset -1px -2px 2px 0px rgba(250, 181, 0, 0.48);
	margin: 0px -10px -3px 4px;
}
.containers-summary .reefer-icon {
	margin: 0px -24px 0 12px;
	display: none;
}
.added-containers ul li p em {
	opacity: 0;
	margin-left: 12px;
	transition: all .4s cubic-bezier(0.25, 1, 0.25, 1);
	font-size: 14px;
}
.reefer-options .added-containers ul li p em {
	opacity: 0.6;
	margin-left: 6px;
}
.form-group .reefer-icon, .added-containers .reefer-icon {
	margin: 8px 0px 0 8px;
	position: absolute;
	opacity: 0;
	transition: all .8s cubic-bezier(0.25, 1, 0.25, 1);
	transform: scale(.18) rotate(-360deg);
}
.added-containers .reefer-icon {
	margin: 0px 0px 0 -8px;
}
.reefer-options .form-group .reefer-icon, .reefer-options .added-containers.show-containers .reefer-icon, .reefer-options .containers-summary .reefer-icon {
	transform: scale(1) rotate(0deg);
	opacity: 1;
	display: inline-block;
}
h3.referenceHeading {
	padding-left: 45px;
	margin: 14px 0 0 0;
}
.row.confirmRow {
	margin: 50px 0 30px 0px;
	float: left;
}
.row.confirmRow label {
	font: 15px "k-font-regular", tahoma, sans-serif;
	display: block;
	float: left;
	padding: 0 0 0 18px;
	margin: -18px 0 0 10px;
	color: #fff;
}
.row.confirmRow label a {
	color: #2BA6B3;
}
.row.confirmRow .alert {
	margin: 5px 0 0 -20px;
}
.row.confirmRow .alert:before {
	left: 1%;
}
.btn-change-town, .btn-change-town:hover {
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	padding: 2px 8px 2px 8px;
	color: #FFF;
	font: 15px "k-font-regular", tahoma, sans-serif;
	opacity: .8;
	top: 1px;
	position: relative;
}
.wrong-address .btn-change-town, .wrong-address .btn-change-town:hover {
	float: right;
	opacity: 1;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0px;
	z-index: 2;
}
.wrong-address .alert {
	text-align: left;
	z-index: 1;
	margin: -40px 0 0 -14px;
	width: 110%;
}
.wrong-address .alert p {
	text-align: left;
	font-size: 14px;
}
.btn-change-town:hover {
	background-color: #000;
}
.btn-change-town:before, .btn-edit:before {
	content: "";
	display: inline-block;
	height: 15px;
	width: 15px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -16px -191px;
	background-size: 400px 2500px;
	margin: 0px 3px -2px -2px;
}
.contactContainer .bc_button.btn_secondary, .contactContainer .bc_button.btn_secondary:hover {
	float: right;
	margin: 0 0 0 12px;
}
.accounts_holder .bc_button.btn_secondary.btn_contacts, .accounts_holder .bc_button.btn_secondary.btn_contacts:hover {
	background-color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #555;
	text-shadow: none;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
	border-bottom: none;
}
.accounts_holder .bc_button.btn_secondary.btn_contacts:hover {
	border-top: 2px solid rgba(0, 0, 0, 0.38);
	border-bottom: none;
	background-color: #fefefe;
	box-shadow: none;
}
.row.confirmRow input[type="checkbox"] + label span {
	margin: 0px 10px 0 -28px;
}
.btn-save, .btn-save:hover {
	padding: 10px 18px 10px 45px;
}
.contactLabel {
	font: 16px "k-font-regular", tahoma, sans-serif;
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: -2px;
	text-transform: uppercase;
	text-align: left;
}
.expandingContainer .contactLabel, .panelIndent .contactLabel {
	width: auto;
	float: left;
	margin-right: 6px;
	margin-top: 5px;
	margin-left: 4px;
}
.contactAddress {
	max-width: 90%;
	max-width: calc(100% - 20px);
	float: left;
	display: block;
}
.expandingContainer .contactAddress, .panelIndent .contactAddress {
	max-width: 70%;
	max-width: calc(100% - 70px);
	float: left;
}
.contactAddress p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: -10px;
	color: #FFF;
}
.expandingContainer .contactAddress p {
	margin-top: 3px;
}
.bc_textbox:hover, .bc_textbox:focus {
	background-position: right -2495px;
}
.form-group.field_contents textarea {
	resize: none;
	height: 38px;
	overflow: hidden;
	word-wrap: break-word;
	white-space: pre-wrap;
	line-height: 1.5;
	margin-bottom: -3px;
}
.form-group.field_customs input {
	width: 225px;
}
.form-group.field_weight select, .form-group.field_weight .dropit {
/*width: 60px;
	float: right;*/
	    /*margin-left: -5px;*/
}
.bclever-modal select#weightSelect, .bclever-modal #weightSelect, #bc_edit-order_modal .dropit {
	width: 75px;
	margin-top: 0px;
}
#weightSelect ul.dropit-submenu {
	min-width: 40px;
}
.form-group.field_weight input, .form-group.field_volume input {
	text-align: right;
}
.form-group.field_weight label span, .form-group.field_volume label span {
	font-size: 12px;
	padding-left: 4px;
	padding-top: 2px;
}
.k-unit {
	font: 18px 'Lucida Grande', tahoma, sans-serif;
	color: #000;
	display: block;
	padding: 12px 10px 0 8px;
}
.dimensions-module .bc_button.btn_secondary.btn_remove {
	margin-bottom: -40px;
}
.bc_focus {
	border: 2px solid rgba(244, 191, 0, 0.88);
	box-shadow: 0 0px 38px -3px rgba(244, 191, 0, 0.58);
}
a.bc_focus {
	border: 1px solid rgba(244, 191, 0, 0.78);
	box-shadow: 0 0px 8px 0px rgba(244, 191, 0, 0.98);
}
.row.bc_focus {
	padding: 8px 8px 0px 8px;
	border-radius: 4px;
}
/* where the 2nd form-group in a 2 column row needs a left margin*/
.k-form-group.field_weight, .k-form-group.field_quantity, .k-form-group.field_width, .k-form-group.field_height, .form-group.field_invoice-reference, .form-group.field_customs, .form-group.field_weight, .form-group.field_quantity, .form-group.field_abv, .form-group.field-tax-pref {
	width: 98%;
	width: calc(100% - 8px);
	margin-left: 8px;
}
.lcl-panel .form-group.field_weight {
	margin-left: 0px;
}
/* adjust packaging droplist*/
.form-group.field_packaging .dropit .dropit-trigger a {
	text-align: right;
	padding-right: 28px;
}
.form-group.field_packaging .dropit .dropit-open .dropit-submenu {
	margin-top: -98%;
}
.form-group.field_temp .dropit .dropit-open .dropit-submenu {
	margin-top: -84%;
}
.form-group.field_volume .dropit .dropit-open .dropit-submenu {
/*margin-top: -82%;*/
}
.lcl-panel .form-group.field_weight .dropit .dropit-open .dropit-submenu {
/*margin-top: -64%;*/
}
.form-group.field_packaging .dropit .dropit-open .dropit-submenu a {
	text-align: left;
}
.schedule-date-time hr {
	margin-bottom: 8px;
	margin-top: 8px;
}
.form-group.field_time {
	width: 98%;
	width: calc(100% - 8px);
	margin-left: 8px;
}
/* TEMPORARY - remove when basket is in*/
.row .two.collectionCost {
	background-color: rgba(0, 0, 0, 0.18);
	margin-left: 8px;
	width: 16.65%;
	width: calc(16.667% - 8px);
	padding: 6px 0 8px 0;
	border-radius: 4px;
}
.collectionCost p, .collectionCost span {
	width: 100%;
	display: block;
	text-align: center;
	padding: 0;
	font-size: 15px;
}
#animatedPrice {
	opacity: 0;
}
.collectionCost span {
	font-size: 22px;
	color: #2BA6B4;
	margin-top: -8px
}
/* /TEMPORARY*/

.expandingContainer.expandingDelivery .contactAddress {
	max-width: 100%;
	margin-bottom: 25px;
	margin-top: 5px;
	clear: both;
	float: none;
}
.expandingContainer.expandingDelivery .contactAddress p {
	max-width: calc(100% - 180px);
}
.expandingContainer.expandingDelivery .btn-change-town {
	margin: 25px 8px -22px 0;
	float: right;
}
h3.groupLabel {
	padding-top: 15px;
	font: 20px "k-font-regular", tahoma, sans-serif;
	display: inline-block;
	float: left;
}
.expandingCustoms h3.groupLabel, .expandingHazardous h3.groupLabel {
	max-width: calc(100% - 50px);
	padding-left: 8px;
	min-height: 38px;
}
.info-note {
	margin-left: 35px;
	font: 16px "k-font-regular", tahoma, sans-serif;
	color: #FFF;
	line-height: 1.3em;
	margin-top: 18px;
	text-align: left;
	margin-bottom: 10px;
}
.info-note strong {
	opacity: 0.5;
}
.info-note a {
	color: #fff;
}
.bc_button.btn_secondary.btn_contact_new {
	text-indent: -160px;
	overflow: hidden;
	padding: 10px 25px 10px 25px;
}
.bc_button.btn_contacts:before, .bc_button.btn-save:before, .bc_button.btn_add:before, .bc_button.btn_contact_new:before, .bc_button.btn_secondary.btn_remove:before, .bc_button.btn-share:before {
	height: 30px;
	width: 30px;
	content: "";
	display: block;
	float: left;
	margin: -3px 4px 0 -43px;
	position: absolute;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-size: 400px 2500px;
}
.bc_button.btn-save:before {
	background-position: -163px -465px;
	margin-left: -35px;
}
.bc_button.btn-share:before {
	background-position: -12px -406px;
	margin-left: -38px;
}
.bc_button.btn_secondary.btn_contacts, .bc_button.btn_secondary.btn_contacts:hover {
	width: auto;
	padding: 10px 18px 10px 50px;
	color: #ddd;
}
.bc_button.btn_secondary.btn_contact_new:before {
	background-position: -220px -98px;
	margin-left: -15px;
}
.bc_button.btn_secondary.btn_contacts:before {
	background-position: -189px -99px;
}
.bc_button.btn_add:before {
	background-position: -328px -98px;
	margin: -5px 4px 0 -36px;
}
.bc_button.btn_add {
	float: right;
	margin: -59px 0 0 0px;
	padding-right: 18px;
	padding-left: 45px;
}
.container-particulars .bc_button.btn_secondary.btn_add {
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0);
	margin-top: -10px;
}
.container-particulars .bc_button.btn_secondary.btn_add:hover {
	background-color: rgba(0, 0, 0, .5);
}
.container-particulars .expandingCustoms .bc_button.btn_secondary.btn_add, .container-particulars .expandingHazardous .bc_button.btn_secondary.btn_add {
	margin: 4px 0px 0px 0px;
	padding: 12px 18px 12px 44px;
	float: right;
	text-align: left;
	display: block;
}
.bc_button.btn_secondary.btn_remove {
	background: #111;
	width: 28px;
	overflow: hidden;
	white-space: nowrap;
	height: 28px;
	padding: 0;
	line-height: 999em;
	opacity: 0.5;
	margin: 12px 0 0 0px;
	display: inline-block;
	position: relative;
	float: right;
}
.customs-object, .dimensions-module .expandingContainer {
	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 4px;
	margin: 12px 0 12px 0;
	padding: 0px 12px 8px 12px;
	border: 1px solid rgba(255, 255, 255, 0.15);
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.4);
}
.customs-object .select-holder {
	margin-bottom: 8px;
}
.dimensions-module .expandingContainer {
	margin: 0px 0 12px 0;
}
.bc_button.btn_secondary.btn_remove:hover {
	background: #A00500;
	opacity: 1;
}
.bc_button.btn_secondary.btn_remove:before, .bc_button.btn_delete {
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -363px -103px;
	background-size: 400px 2500px;
	margin: 3px 4px 0 1px;
}
/*  NEEDED IF WE ENABLE ADDING CONTAINERS FROM BOOKING*/
.add-containers-panel .bc_button.btn_secondary.btn_add {
	margin: 0px;
	padding-right: 28px;
	padding-left: 56px;
	-o-transform: scale(.68);
	-moz-transform: scale(.68);
	-ms-transform: scale(.68);
	-webkit-transform: scale(.68);
	transform: scale(.68);
	right: 4px;
	position: absolute;
}
.darkerPanel.add-containers-panel .form-group label span {
	margin: 1px 0 -2px 3px;
}
.add-containers-panel {
	margin-bottom: 18px;
	padding: 8px 0 0px 2px;
	margin-top: 0px;
}
.bc_lading {
	background-color: rgba(0, 0, 0, 0.04);
	padding: 28px 8px 14px 28px;
	border-radius: 8px;
	margin-top: 28px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
	text-align: center;
}
.bc_lading label {
	font-size: 16px;
	display: block;
	color: #ccc;
}
.bc_lading label strong {
	font: 18px "k-font-regular", tahoma, sans-serif;
	color: #fff;
}
.bc_lading label:first-of-type {
	margin-bottom: 18px;
}
.bc_lading p {
	font: 16px "k-font-regular", tahoma, sans-serif;
	text-align: left;
	padding-left: 30px;
	padding-bottom: 0;
	color: #ccc;
}
.bc_lading p.info-note {
	margin-top: 6px;
}
.bc_lading h3 {
	margin: 0;
}
.bc_lading .btn-view-bl {
	margin: -2px 30px 14px auto;
	font-size: 16px;
	float: right;
}
.booking_holder a.btn-docs {
	width: auto;
	padding: 6px 20px 3px 38px;
	line-height: 1.9em;
	font-size: 14px;
	margin: -4px -5px 0 0;
	right: 0;
}
.booking_holder a.btn-docs .notify {
	margin-top: -4px;
}
.expandingHazardous .expandingContainer .eight p {
	margin: 5px 0 5px 0;
}
.expandingHazardous .expandingContainer .alert {
	margin-top: 45px;
}
.expandingHazardous .expandingContainer .alert:before {
	left: 70%;
}
.order-action-panel {
	width: 100%;
	z-index: 9;
	margin-bottom: -120px;
	position: relative;
	height: 120px;
	margin-top: 132px;
	display: block;
	border-radius: 3px;
	text-align: center;
	padding-top: 18px;
	background: #F9ECB3;
	background: -moz-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -webkit-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -webkit-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -o-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -ms-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: linear-gradient(to bottom, #F8F1D2 0%, #D0C58A 100%);
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
/* container accordian */
.ac-container {
	display: block;
	width: 100%;
	margin: 0px 0 20px 0;
}
.ac-container label.container-label {
	font: 18px "k-font-regular", tahoma, sans-serif;
	position: relative;
	display: block;
	cursor: pointer;
	color: #fff;
	padding: 0 0 0 12px;
	margin: 0;
	clear: both;
}
.ac-container label.container-label:after {
	content: 'Open';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 2px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: 27px -288px;
	background-size: 400px 2500px;
	padding-right: 42px;
	font: 16px "k-font-regular", tahoma, sans-serif;
}
.ac-container input:checked + label.container-label:after, .container-particulars.open-container-details label.container-label:after {
	background-position: 27px -264px;
	content: 'Close';
}
/* hide the open/close for edit modal */
.bclever-modal label:after {
	display: none;
}
strong.cargo-summary {
	color: #FFF;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 394px;
	display: inline-block;
	font-size: 15px;
	font-style: italic;
	opacity: 0.68;
	-moz-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	transition: all .3s cubic-bezier(.68, .07, .37, .94);
	-webkit-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	text-align: left;
	height: 28px;
	padding: 3px 5px 0 15px;
	margin: 0px 0 -9px 15px;
	transition-delay: 0s;
}
.container-particulars.open-container-details strong.cargo-summary {
	opacity: 0;
	margin-bottom: -23px;
}
/* When container has been assigned*/
.container-particulars.container-assigned strong.cargo-summary {
	width: auto;
	max-width: 612px;
	transition-delay: 0.3s;
}
.container-particulars {
	padding: 12px;
	border-radius: 4px;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.4);
	margin-bottom: 8px;
	display: block;
	position: relative;
	overflow: hidden;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
	background-color: #146284;
	clear: both;
	background-image: linear-gradient(bottom, #146284 1%, #1d7d97 100%);
	background-image: -o-linear-gradient(bottom, #146284 1%, #1d7d97 100%);
	background-image: -moz-linear-gradient(bottom, #146284 1%, #1d7d97 100%);
	background-image: -webkit-linear-gradient(bottom, #146284 1%, #1d7d97 100%);
	background-image: -ms-linear-gradient(bottom, #146284 1%, #1d7d97 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d7d97', endColorstr='#146284', GradientType=0 );
}
.ac-container article {
	max-height: 0px;
	position: relative;
	display: block;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.48);
	border-radius: 4px;
	padding: 0px 10px 0px 10px;
	margin: 10px -10px -10px -10px;
	transition: max-height 2.2s cubic-bezier(0, 1, 0, 1) -1.3s, padding .8s ease-in-out, margin .3s ease-in-out;
}
.container-particulars.open-container-details article {
	max-height: 99999px;
	padding: 22px 10px 10px 10px;
	margin: 12px -10px -10px -10px;
	transition: all 1.8s ease-in-out, padding .3s ease-in-out, margin .1s ease-in-out;
}
.ac-container label.container-label div, .confirmation_holder h4 div, .dash_holder h4 div {
	display: inline-block;
	color: #fff;
	font: 18px "k-font-regular", tahoma, sans-serif;
	padding-left: 12px;
}
.container-particulars label:after {
	opacity: 1;
	-moz-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-webkit-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	transition-delay: 0.4s;
}
/*  info icon*/
.noQuotes p span:before, .btn-how-it-works:before, .info-note:before, .docs-note:before {
	content: "";
	text-indent: -500px;
	overflow: hidden;
	height: 20px;
	width: 20px;
	background: url(../assets/images/svg_sprite.png) rgba(0, 0, 0, 0) no-repeat;
	background-position: -378px -2px;
	background-size: 400px 2500px;
	display: block;
	border-radius: 2px;
	position: absolute;
	margin: 0 0 0 -28px;
}
.form-group.field_packaging label, .form-group.field-tax-pref label {
	padding-right: 28px;
}
/* tooltips */
.expandingCustoms .bc_tooltip-holder {
	margin: -42px 0 0 342px;
	position: absolute;
}
.expandingCustoms .bc_tooltip-holder .bc_tooltip {
	margin: 0px 0 0 38px;
	max-width: 1800px;
	width: 360px;
	text-align: center;
}
.expandingCustoms .bc_tooltip:before {
	border: solid 10px #F1E29A;
	border-top-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	top: 11px;
	margin-left: -30px;
}
.expandingCustoms.expanded .form-group.field_code .bc_tooltip-holder .bc_tooltip {
	margin: -1px 0px 0 -350px;
	max-width: 1800px;
	width: 340px;
	text-align: center;
}
.expandingCustoms .form-group.field_code .bc_tooltip:before {
	border: solid 10px #F1E29A;
	border-top-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	top: 12px;
	margin-left: 312px;
}
.expandingContainer .form-group.field_loading-reference input {
	text-align: left;
}
/* Edit Order + Schedule Order */

h1.booking-heading.edit-heading {
	margin-top: -5px;
}
h1.booking-heading.edit-heading span {
	display: block;
	font-size: 16px;
	opacity: .6;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.edit-mode .request-confirm, .edit-mode .btn-change-town, .edit-mode .order-reference-holder, .edit-mode .customer-details-holder, .edit-mode .container-heading-holder, .edit-mode .expandingContainer label.confirmChk, .edit-mode .expandingCustoms hr {
	display: none;
}
/* adjust spacing left over by hidden elements */
.edit-mode .expandingContainer.expandingCustoms .expandingContainer {
	margin-top: 0px;
	padding-top: 1px;
}
/* edit order */

.customs-docs {
	padding: 18px 10px 0px 10px;
	margin: 8px 0 0px 0;
	border-radius: 4px;
	box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(255, 255, 255, 0.02);
}
.customs-docs h1 {
	font-size: 20px;
	margin-bottom: 8px;
	padding-top: 4px;
}
.customs-docs p {
	font-size: 16px;
	margin-top: 4px;
	text-align: left;
	color: rgba(255,255,255,0.8);
}
.customs-docs p strong {
	color: #fff;
	padding-right: 6px;
}
.customs-docs .four p {
	padding-top: 2px;
	text-align: right;
}
.container-particulars .expandingCustoms .customs-docs .bc_button.btn_secondary.btn_add {
	margin: -4px -2px 10px 0px;
	padding: 8px 12px 8px 38px;
}
.customs-docs .customs-object {
	float: left;
	padding: 8px 12px 2px 12px;
	margin: 0px 0 10px 0;
	background-color: rgba(255, 255, 255, 0.04);
	width: 100%;
}
.customs-docs .bc_button.btn_secondary.btn_remove {
	margin: -6px -10px 0 0px;
	-o-transform: scale(.7);
	-moz-transform: scale(.7);
	-ms-transform: scale(.7);
	-webkit-transform: scale(.7);
	transform: scale(.7);
}
#datetime {
	z-index: 9999999999;
	position: fixed;
}
