.dash_holder {
background-color: #27363d;
    z-index: 5;
    background-position: center 200%;
    padding-top: 0;
    height: calc(100% - 68px);
    padding-bottom: 0;
}
.dash_holder h1 {
	margin-top: 0px;
	display: block;
	padding-bottom: 8px;
	text-align: left;
}
.btn_add-details, .btn_add-details:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	font-size: 14px;
	color: #FFF;
	padding: 2px 5px 2px 28px;
	position: absolute;
	margin: 4px 0 0 8px;
}
.btn_add-details:before {
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -252px -79px;
	background-size: 300px 1875px;
	height: 14px;
	width: 14px;
	content: "";
	display: inline-block;
	margin: 0px 4px -2px -22px;
}
.dash_holder .summaryLabel {
	color: rgba(255, 255, 255, 0.38);
	/* text-transform: uppercase; */
	font: 14px "k-font-regular", tahoma, sans-serif;
}
.dash_holder .darkerPanel.summaryElements span {
	color: #fff;
}
.dash_holder .darkerPanel.summaryElements .three.columns {
	width: calc(33.33% - 8px);
	float: left;
	display: block;
}
.dash_holder .darkerPanel h1 {
	margin-bottom: 10px;
	margin-top: 20px;
	font: 18px "k-font-regular", tahoma, sans-serif;
	padding-left: 15px;
}
.dash_holder .darkerPanel h1 span {
	opacity: 0.5;
}
.expandingContainer, .noOrders, .panelOutdent, .panelIndent {
	border: 1px solid rgba(255, 255, 255, 0.15);
	border-radius: 4px;
	margin-bottom: 8px;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.4);
}
.noOrders {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 100px 0 85px 50px;
	margin-bottom: 48px;
}
.noOrders h2 {
	font-size: 28px;
	color: #fff;
	margin-bottom: 0;
}
.noOrders p {
	padding-top: 6px;
	font-size: 16px;
}
.dash_holder .order-action-panel p {
	margin-bottom: 25px;
	color: #2D2C2A;
	text-shadow: 0px 1px 0px #FBF2D3;
	text-align: left;
	padding: 18px 0px 18px 128px;
	max-width: 600px;
}
.dash_holder .order-action-panel strong, .dash_holder .order-action-panel em {
	opacity: 0.5;
}
.order-action-panel .bc_button {
	position: absolute;
	right: 65px;
	top: 38px;
	padding: 10px 20px 10px 20px;
}
/* message when exporter still needs to pick schedule fo Ex Works*/
.order-action-panel .order-pending p {
	max-width: 800px;
}
.dash_holder p {
	color: #fff;
}
.dash_holder .expandingContainer {
	border: none;
	padding: 8px;
	border-radius: 4px;
	box-shadow: none;
	box-shadow: inset 0 -2px 8px 0px rgba(255,255,255,0.06);
	border-bottom: 2px solid rgba(0,0,0,0.3);
	margin-bottom: 28px;
	max-height: 216px;
	min-height: 216px;
	background-color: rgba(135, 206, 235, 0.08);
	background: -moz-linear-gradient(top, rgba(135, 206, 235, 0.08) 250px, rgba(47,66,75,0) 100%);
	background: -webkit-linear-gradient(top, rgba(135, 206, 235, 0.08) 250px, rgba(47,66,75,0) 100%);
	background: linear-gradient(to bottom, rgba(135, 206, 235, 0.08) 250px, rgba(47,66,75,0) 100%);
	-webkit-animation-name: showOrder;
	animation-name: showOrder;
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
 @-webkit-keyframes showOrder {
 0% {
opacity:0;
margin-top: 24px;
}
 100% {
opacity:1;
margin-top: 12px;
}
}
@keyframes showOrder {
 0% {
opacity:0;
margin-top: 24px;
}
 100% {
opacity:1;
margin-top: 12px;
}
}
.dash_holder .expandingContainer.expanded {
	max-height: 20000px;
	box-shadow: none;
	border-bottom: none;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.dash_holder .expandingContainer.completed, .dash_holder .expandingContainer.canceled, .dash_holder .expandingContainer.failed {
	max-height: 68px;
	position: relative;
	min-height: 0;
	background-color: rgba(0,0,0,0.2);
}
.dash_holder .expandingContainer.canceled {
	background-color: rgba(255,255,255,0.04);
}
.dash_holder .expandingContainer.failed {
	background-color: rgba(179,70,69,0.08);
}
.dash_holder .expandingContainer.arrived {
	max-height: 108px;
	min-height: 108px;
}
.dash_holder .expandingContainer.completed .overview-row .bc_button, .dash_holder .expandingContainer.canceled .overview-row .bc_button, .dash_holder .expandingContainer.failed .overview-row .bc_button {
	margin-top: 8px;
}
.dash_holder .expandingContainer.completed.expanded, .dash_holder .expandingContainer.arrived.expanded {
	max-height: 20000px;
}
.dash_holder .expandingContainer.completed .overview-row {
	margin-bottom: 10px;
}
.dash_holder .row.darkerPanel {
	padding: 8px 16px 8px 8px;
	float: left;
}
.status-row .two.columns {
	padding: 8px;
	text-align: center;
	width: 15.78%;
	height: 93px;
	margin: 4px 0px 12px 0px;
	width: 16.66%;
	padding-left: 30px;
	border-radius: 0;
	border-top: 1px solid #253740;
	border-bottom: 2px solid #253740;
	background: -moz-linear-gradient(left, #23353d 0%, #2b3e47 28%);
	background: -webkit-linear-gradient(left, #23353d 0%, #2b3e47 28%);
	background: linear-gradient(to right, #23353d 0%, #2b3e47 28%);
}
.status-row .two.columns:after, .status-row .two.columns:before {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-top: 45px solid rgba(0, 0, 0, 0);
	border-left: 20px solid #2b3e47;
	border-bottom: 45px solid rgba(0, 0, 0, 0);
	margin: 0px -28px 0 0;
	position: absolute;
	z-index: 999;
	right: 8px;
	top: 0px;
}
.status-row .two.columns:before {
	border-left: 21px solid rgba(0, 0, 0, 0.1);
	margin: 0px -29px 0 0;
}
.status-row .two.columns.current-state {
	background-image: none;
	background-color: #d5ba5f;
}
.status-row .two.columns.current-state:after {
	border-left: 20px solid #d5ba5f;
}
.status-row .two.columns.completed-state {
	background: rgb(61,79,88);
	background: -moz-linear-gradient(left, rgba(61,79,88,1) 0%, rgba(83,100,107,1) 28%);
	background: -webkit-linear-gradient(left, rgba(61,79,88,1) 0%, rgba(83,100,107,1) 28%);
	background: linear-gradient(to right, rgba(61,79,88,1) 0%, rgba(83,100,107,1) 28%);
}
.status-row .two.columns.completed-state:after {
	border-left: 20px solid #53646B;
}
.status-row .two.columns.current-state.status-bl, .status-row .two.columns.current-state.status-trucking {
	background: #2BA6B3;
	background-image: none;
}
.status-row .two.columns.current-state.status-bl:after, .status-row .two.columns.current-state.status-trucking:after {
	border-left: 20px solid #2BA6B3;
}
.status-row .two.columns:last-child:after, .status-row .two.columns:last-child:before {
	display: none;
}
.status-row .two.columns:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-right: 2px solid #253740;
	padding-left: 25px;
}
.status-row .two.columns:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	border-left: 2px solid #253740;
	padding-left: 12px;
	background-image: none;
	background-color: #53646b;
}
.status-row .two.columns h2 {
	color: #fff;
}
.status-row .two.columns.current-state h2 {
	color: #46402d;
}
.status-row .two.columns.completed-state h2 {
	color: #fff;
}
.import .status-row .two.columns {
	width: 14.28%;
}
.status-row .two.columns h2 {
	font-size: 14px;
	margin: 12px 0 -5px 0;
	line-height: 1.1em;
	color: rgba(255,255,255,0.38);
}
.btn-view-bl, .btn-book-trucking {
	color: rgba(255,255,255,0.8);
	padding: 3px 10px 3px 10px;
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.16);
	background-color: #394c55;
	line-height: 1.1em;
	font: 13px "k-font-regular", tahoma, sans-serif;
	margin: -27px auto 0 auto;
	display: block;
	box-shadow: 0 2px 0 -0.5px rgba(0,0,0,0.2);
}
.btn-book-trucking {
	display: none;
}
.two.columns.current-state.status-trucking .btn-book-trucking {
	display: block;
}
.btn-view-bl:hover {
	background-color: #1d2b31;
	color: #fff;
}
.status-row .two.columns.current-state.status-bl, .status-row .two.columns.current-state.status-trucking {
	background: #2BA6B3;
}
.two.columns.current-state.status-bl .btn-view-bl, .status-row .two.columns.current-state.status-trucking .btn-book-trucking {
	background: #61cfda;
	opacity: 1;
	color: #333;
}
.two.columns.current-state.status-bl .btn-view-bl:hover, .status-row .two.columns.current-state.status-trucking .btn-book-trucking:hover {
	background: #7cdce6;
}
.status-row .two.columns.status-bl h2, .status-row .two.columns.status-wrap h2 {
	margin: 5px 0 -5px 0;
}
.two.columns.current-state.status-bl h2, .status-row .two.columns.current-state.status-trucking h2 {
	color: #fff;
}
.two.columns.completed-state.status-bl .btn-view-bl {
	display: none;
}
.status-indicator {
	height: 30px;
	width: 50px;
	background-color: #00F;
	margin: 13px auto 5px auto;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -181px -190px;
	background-size: 400px 2500px;
}
.two.columns.status-bl .status-indicator, .two.columns.status-wrap .status-indicator {
	margin: 5px auto 5px auto;
}
.status-indicator.status-completed {
	background-position: -227px -190px;
}
.dash_holder .darkerPanel .darkerPanel {
	padding: 0px 18px 18px 18px;
	float: none;
}
.dash_holder .content_holder .darkerPanel h2 {
	padding: 10px 0 15px 10px;
	opacity: 1;
	font-size: 23px;
}
.dash_holder .content_holder .darkerPanel .total-panel h2 {
	padding-left: 20px;
}
.dash_holder .row.darkerPanel h3 {
	padding: 4px 0 0 10px;
	margin-bottom: 0px;
	font: 16px "k-font-regular", tahoma, sans-serif;
	opacity: .5;
}
.dash_holder .expandingContainer .contactContainer {
	width: calc(50% + 8px);
	float: left;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.06);
	margin: 0 0px 0px -9px;
	padding: 0px 12px 0px 73px;
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
}
.dash_holder .expandingContainer.expanded .contactContainer {
	margin: 0 0px 8px -9px;
	padding: 12px 12px 16px 73px;
	max-height: 80px;
	opacity: 1;
}
.dash_holder .darkerPanel.summaryElements {
	padding: 0px 0px 0px 8px;
	float: left;
	width: calc(100% + 16px);
	margin-left: -8px;
	margin-top: -2px;
	background: rgba(0, 0, 0, 0.0);
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all .1s cubic-bezier(0.7, 0, 0.3, 1);
}
.dash_holder .expanded .darkerPanel.summaryElements {
	max-height: 80px;
	margin-top: 2px;
	padding: 8px 0px 8px 8px;
	opacity: 1;
}
.dash_holder .expandingContainer .contactContainer.addressTo {
	margin-right: -8px;
	margin-left: 0;
}
.dash_holder .expandingContainer .contactContainer.addressFrom:before, .dash_holder .expandingContainer .contactContainer.addressTo:before {
	margin: -10px 0px 0px -65px;
	left: 85px;
}
.dash_holder .contactLabel {
	color: rgba(255, 255, 255, 0.38);
	text-transform: none;
	font: 16px "k-font-regular", tahoma, sans-serif;
}
h3.ordersheading, h3.monthheading, h3.messagesheading {
	font: 22px "k-font-regular", tahoma, sans-serif;
	margin-top: -12px;
	margin-bottom: 18px;
	padding-top: 28px;
}
h3.ordersheading {
	margin-top: -20px;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
	color: #EACD62;
}
h3.ordersheading span {
	margin-right: 3px;
	opacity: 0.38;
	font-size: 18px;
	display: inherit;
}
.order-header {
	background-color: rgba(0, 0, 8, 0.48);
	margin: -10px -10px 5px -10px;
	width: 102%;
	width: calc(100% + 18px);
	padding: 10px 18px;
}
.order-header .btn_trash {
	height: 29px;
	width: 30px;
	background-position: -61px -185px;
	background-color: rgba(0, 0, 0, 0.18);
	float: right;
	position: relative;
	margin: -36px 0 0 0;
	right: -9px;
	border: 2px solid rgba(255, 255, 255, 0.2);
}
.booked .order-header .btn_trash, .btn_trash.disabled {
	opacity: 0.2;
	pointer-events: none;
}
.order-header h5 {
	float: right;
	font-size: 15px;
	margin: -23px 0 0 0;
}
.order-header h5:before {
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -145px -75px;
	background-size: 300px 1875px;
	height: 20px;
	width: 20px;
	content: "";
	display: block;
	float: left;
	margin: 2px 4px 0 -27px;
	position: absolute;
}
.order-header .btn_trash:hover {
	background-color: rgba(0, 0, 0, 0.68);
	border: 2px solid rgba(255, 255, 255, 0.3);
}
.dash_holder .order-header h4 {
	margin: 2px 0 0 0;
	/*color: #EACD62;*/
	color: #fff;
	font-size: 20px;
}
.dash_holder .order-header strong {
	font-size: 16px;
	opacity: 0.68;
	margin: 0px 0px 0 5px;
	font-style: italic;
}
.dash_holder .order-header h4 span {
	font: 15px "k-font-regular", tahoma, sans-serif;
	padding: 4px 0 0 0;
	opacity: 0;
	width: 30px;
	display: block;
	margin-right: -30px;
	float: left;
	-moz-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .3s cubic-bezier(.68, .07, .37, .94);
	transition: all .3s cubic-bezier(.68, .07, .37, .94);
	color: #fff;
}
.dash_holder .expandingContainer:hover .order-header h4 span {
	opacity: 0.5;
	margin-right: 0px;
}
.overview-row p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	padding-left: 0px;
}
.overview-row h2 {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.38);
	margin-bottom: 0;
	margin-top: 5px;
}
.overview-row .bc_button {
	width: 83px;
	padding: 10px 24px 10px 0px;
	font-size: 14px;
	margin-top: 6px;
	float: right;
	text-align: center;
	margin-right: -3px;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	text-shadow: none;
	margin-top: -48px;
	opacity: 0.8;
}
.dash_holder .expandingContainer .overview-row .bc_button:after {
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 8px;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: 27px -288px;
	background-size: 400px 2500px;
	padding-right: 42px;
	font: 16px "k-font-regular", tahoma, sans-serif;
}
.dash_holder .expandingContainer.expanded .overview-row .bc_button:after {
	background-position: 27px -264px;
}
.overview-row .four {
	padding-left: 10px;
}
a.btn-view-invoice, a.btn-edit-order, a.btn-copy-order, a.btn-docs, a.btn-order-messages {
	color: rgba(255, 255, 255, 0.88);
	padding: 6px 0px 0px 35px;
	border-radius: 4px;
	width: 82px;
	height: 38px;
	line-height: 1.1em;
	margin-top: 7px;
	position: absolute;
	font-family: "k-font-regular", tahoma, sans-serif;
	right: 0px;
	background-color: rgba(255, 255, 255, 0.06);
	font-size: 12px;
	box-shadow: 0 3px 0 -0.5px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.25);
	border-bottom: none;
}
a.btn-edit-order {
	right: 88px;
	width: 70px;
	padding: 6px 0px 3px 30px;
}
a.btn-edit-order.disabled, a.btn-view-invoice.disabled {
	opacity: .3;
	pointer-events: none;
}
a.btn-copy-order {
	right: 164px;
	width: 70px;
	padding: 6px 0px 3px 30px;
}
a.btn-order-messages {
	margin-left: 234px;
	width: 97px;
	padding: 6px 0px 3px 33px;
	line-height: 2.1em;
}
a.btn-view-invoice:hover, a.btn-edit-order:hover, a.btn-copy-order:hover, a.btn-docs:hover, a.btn-order-messages:hover {
	background-color: rgba(255, 255, 255, 0.04);
	margin-top: 8px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,0.35);
}
a.btn-view-invoice:before, a.btn-edit-order:before, a.btn-copy-order:before, a.btn-docs:before, a.btn-order-messages:before, a.btn-duplicate:before {
	content: "";
	display: block;
	position: absolute;
	margin: -1px 0 0 0;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -18px -219px;
	background-size: 400px 2500px;
	height: 28px;
	width: 28px;
	left: 6px;
}
a.btn-edit-order:before {
	background-position: -59px -219px;
}
a.btn-copy-order:before, a.btn-duplicate:before {
	background-position: -93px -219px;
}
a.btn-docs:before {
	background-position: -130px -230px;
}
a.btn-order-messages:before {
	background-position: -169px -230px;
}
.ac-container a.btn-copy-order:before {
	margin: -7px 0 0 4px;
}
.overview-row .columns {
	padding: 0 5px;
}
.dash_holder .expandingContainer.canceled {
	border: 1px solid #596a71;
	box-shadow: none;
}
.dash_holder .expandingContainer.failed {
	border: 1px solid #b24848;
	box-shadow: none;
}
.dash_holder .expandingContainer.canceled .row, .dash_holder .expandingContainer.canceled .contactContainer, .dash_holder .expandingContainer.failed .row, .dash_holder .expandingContainer.failed .contactContainer {
	opacity: .4;
}
.ribbon-wrapper {
	width: 85px;
	height: 88px;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	margin: -10px 0 0 -10px;
}
.ribbon {
	font: bold 12px Sans-Serif;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	position: relative;
	padding: 8px 0 6px 0;
	left: -30px;
	top: 15px;
	width: 120px;
	height: 28px;
	background: #596a71;
	color: #fff;
}
.failed .ribbon {
	background: #b24848;
}
/* TABS */
.dash_holder .content_holder:before {
	Display: block;
	content: "";
	width: 100%;
	margin: -35px 0 0px 0;
	position: absolute;
	left: 0;
	top: 0;
	height: 135px;
	background-image: linear-gradient(top, #2E3740 1%, #1D2730 98%, #0E1821 100%);
	background-image: -o-linear-gradient(top, #2E3740 1%, #1D2730 98%, #0E1821 100%);
	background-image: -moz-linear-gradient(top, #2E3740 1%, #1D2730 98%, #0E1821 100%);
	background-image: -webkit-linear-gradient(top, #2E3740 1%, #1D2730 98%, #0E1821 100%);
	background-image: -ms-linear-gradient(top, #2E3740 1%, #1D2730 98%, #0E1821 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E1821', endColorstr='#2E3740', GradientType=0 );
	opacity: 1;
	display: block;
}
.tabs {
	padding-left: 7px;
	margin: -52px 0 34px 0;
	display: block;
	position: relative;
	text-align: right;
	z-index: 3;
	float: left;
	clear: both;
	width: 100%;
	-moz-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .5s cubic-bezier(.68, .07, .37, .94);
	transition: all .5s cubic-bezier(.68, .07, .37, .94);
	-webkit-transition: all .5s cubic-bezier(.68, .07, .37, .94);
}
.tabs li {
	display: inline-block;
}
.tabs a {
	position: relative;
	display: inline-block;
	padding: 1.5em 38px 1em;
	color: inherit;
	text-decoration: none;
	margin: 0 -7px;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.7);
}
.tabs a:before {
	border: 1px solid rgba(0, 0, 0, 0.8);
	-moz-transition: all .2s cubic-bezier(.68, .07, .37, .94);
	-o-transition: all .2s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: all .2s cubic-bezier(.68, .07, .37, .94);
	transition: all .2s cubic-bezier(.68, .07, .37, .94);
	-webkit-transition: all .2s cubic-bezier(.68, .07, .37, .94);
}
.tabs a:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: .5em;
	left: 0;
	z-index: -1;
	border-bottom: none;
	border-radius: 10px 10px 0 0;
	background-color: #1A242D;
	box-shadow: 2px 2px rgba(255, 255, 255, 0.1) inset;
	transform: perspective(5px) rotateX(2deg);
	transform-origin: bottom;
}
.tabs a.selected:before {
	background-color: #27363d;/* NEW DASH
	background-color: #38687e;*/
}
.tabs.left-style {
	text-align: left;
}
.tabs.left-style a {
	padding: 1.5em 2em 1em 1em;
}
.tabs.left-style a::before {
	transform-origin: bottom left;
}
.tabs.right-style a {
	padding: 1.5em 1em 1em 2em;
}
.tabs.right-style a::before {
	transform-origin: bottom right;
}
.tabs a.selected {
	z-index: 2;
	color: rgba(255, 255, 255, 0.9);
}
.tabs a.selected::before {
	margin-bottom: -1px;
	border-top-width: 1px;
}
.tabs .notify {
	left: 8px;
	position: relative;
	float: right;
}
.tab-content {
	-moz-transition: opacity .2s cubic-bezier(.68, .07, .37, .94), margin .3s cubic-bezier(.68, .07, .37, .94);
	-o-transition: opacity .2s cubic-bezier(.68, .07, .37, .94), margin .3s cubic-bezier(.68, .07, .37, .94);
	-ms-transition: opacity .2s cubic-bezier(.68, .07, .37, .94), margin .3s cubic-bezier(.68, .07, .37, .94);
	transition: opacity .2s cubic-bezier(.68, .07, .37, .94), margin .3s cubic-bezier(.68, .07, .37, .94);
	-webkit-transition: opacity .4s cubic-bezier(.68, .07, .37, .94), margin .3s cubic-bezier(.68, .07, .37, .94);
	opacity: 0;
	margin-top: 20px;
	margin-bottom: -20px;
	max-height: 0;
	float: left;
	width: 100%;
	pointer-events: none;
	overflow: hidden;
	display: block;
	position: relative;
}
.tab-content.current-tab {
	    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    pointer-events: auto;
    min-height: 100%;
    max-height: 99999px;
    padding-bottom: 120px;
}
.order-expiry {
	position: relative;
	font-size: 14px;
	padding: 2px 8px 1px 8px;
	color: #fff;
	margin: -20px -10px 18px -10px;
	border-top-right-radius: 6px;
	background-color: rgba(0,0,0,0.2);
	text-align: right;
	padding-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.order-expiry.urgent {
	background-color: #CE4D4D;
	color: #fff;
	background: -moz-linear-gradient(left, #902a2a 0%, #CE4D4D 12%, #CE4D4D 100%);
	background: -webkit-linear-gradient(left, #902a2a 0%, #CE4D4D 12%, #CE4D4D 100%);
	background: linear-gradient(to right, #902a2a 0%, #CE4D4D 12%, #CE4D4D 100%);
}
.content-saved-orders .q-total .k-button.simple {
	margin-top:6px;
}
/*bookmarks*/
.dash_holder .content-bookmarks .quote-module .q-cta {
	min-width: 190px;
	max-width: 190px;
}
.q-name input[type="text"] {
	background-color: transparent;
	display: inline-block;
	color: #eee;
	font-size: 16px;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 0;
	margin: -3px 0 0 0;
}

.q-name input[type="text"].change-detected {
	width:185px;
}
.q-name .btn-save {
	display: none;
}
.q-name .btn-save.show {
	display: inline-block;
}
.q-name .btn-save, .q-name .btn-save:hover {
	-o-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-webkit-transform: scale(.8);
	transform: scale(.8);
	position: absolute;
	margin: -9px 0 0 -5px;
	top: auto;
}
.q-name .btn-save:hover {
	margin-top: -8px;
}
.q-cta .btn_trash {
	top: auto;
	background-color: transparent;
	right: 10px;
	border: 1px solid rgba(255,255,255,0.2);
	margin-top: -5px;
}
.q-cta .btn_trash:hover {
	background-color: rgba(0,0,0,0.4);
}
