/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
forms.css
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
::-webkit-input-placeholder {
 color:#bbb;
}
:-moz-placeholder { /* Firefox 18- */
color:#bbb;
}
::-moz-placeholder {  /* Firefox 19+ */
color:#bbb;
}
:-ms-input-placeholder {
color:#bbb;
}

.form-group {
	background-color: #FFF;
	border-radius: 2px;
	float: left;
	width: 100%;
	padding: 8px;
	text-align: left;
	margin-bottom: 8px;
	min-height: 58px;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
}
.form-group select, .form-group input, .form-group textarea, .dropit, .from-dropdown, .typeahead-holder, .form-group.bc_tooltip-holder, .form-group .select-holder {
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	width: 100%;    /* For old syntax, otherwise collapses. */
	flex-basis: 0px;
}
.form-group select {
	margin-bottom: -8px;
}
.form-group label {
	display: flex;
}
.form-group input, .form-group textarea {
    float: left;
    font-size: 18px;
    color: #666;
    padding: 10px 14px 8px 8px;
    margin: 0px 0px 0px 4px;
    background-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.form-group.field_to input, .form-group.field_from input {
	text-transform: capitalize;
}
.expandingContainer .form-group input {
	text-align: right;
}
input[type=range] {
	margin: 2px 0px 0 28px;
	min-width: 34%;
	height: 40px;
	-webkit-appearance: none;
}
 /* IE 11+ */
_:-ms-fullscreen, :root input[type=range] {
 min-width: 24%;
}
input[type=range]::-webkit-slider-runnable-track {
 width: 100%;
 height:7px;
 border-radius:4px;
 cursor: pointer;
 background: #3071a9;
 background: linear-gradient(to right, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* W3C */
}
input[type=range]::-webkit-slider-thumb {
 margin-top: -4px;
}
input[type=range]::-ms-thumb {
 margin-top: 0px;
}
 input[type=range]::-moz-range-track {
 width: 100%;
 height:7px;
 border-radius:4px;
 cursor: pointer;
 background: #3071a9;
 background: linear-gradient(to right, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* W3C */
}
input[type=range]::-ms-track {
 background: #ccc;
 border: 1px solid #ccc;
 background: -ms-linear-gradient(left, rgba(57,134,186,1) 0%, rgba(255,63,63,1) 100%); /* IE10+ */
}
.form-group.bc-disabled label, .form-group.bc-disabled select, .form-group.bc-disabled .dropit, .form-group.bc-disabled .bc_button {
	opacity: .4;
	pointer-events: none;
}
/* Tooltips */
.bc_tooltip {
	background: #F9ECB3;
	background: -moz-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -webkit-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -webkit-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -o-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: -ms-linear-gradient(top, #F8F1D2 0%, #D0C58A 100%);
	background: linear-gradient(to bottom, #F8F1D2 0%, #D0C58A 100%);
	border-radius:4px;
	padding:10px;
	position: absolute;
	max-width: 220px;
	z-index: 999999999;
	top: 0px;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.58);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.58);
	color: #2D2C2A;
	text-shadow: 0px 1px 0px #FBF2D3;
	font: 15px "k-font-regular", tahoma, sans-serif;
	opacity: 0;
	pointer-events: none;
	-o-transition: all .2s;
	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	transition: all .2s ease-out;
	margin-top: 34px;
	margin-left: -10px;
	-o-transform: scale(.01);
	-moz-transform: scale(.01);
	-ms-transform: scale(.01);
	-webkit-transform: scale(.01);
	transform: scale(.01);
}
.bc_tooltip:before {
	content: "";
	border: solid 14px #F8F1D2;
	border-top-color: rgba(0, 0, 0, 0);
	border-left-color: rgba(0, 0, 0, 0);
	border-right-color: rgba(0, 0, 0, 0);
	top: -27px;
	position: absolute;
	margin-left: 12px;
}
.bc_tooltip-holder .bc_tooltip {
	margin-left: -28px;
}
.form-group.field_from .bc_tooltip-holder .bc_tooltip {
	max-width: 168px;
}
.bc_tooltip-holder {
	/*width: 200px;
	float: right;
	display: inline-block;
	height: 30px;
	position: absolute;*/
}
.bc_tooltip-holder .bc_button_info {
	margin: 12px 0px 0 2px;
	border-radius: 188px;
	height: 20px;
	width: 20px;
	background-position: -349px -2px;
}

.form-group.bc-disabled:hover .bc_tooltip, .bc_tooltip-holder:hover .bc_tooltip {
	opacity: 1;
	margin-top: 44px;
	-o-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
}
.results_holder .form-group {
	margin-bottom: 0px;
}
.form-group label, .bclever-modal .form-group label {
	color: #444;
	font-size: 18px;
	float: left;
	line-height: 32px;
	padding-bottom: 0;
	padding-right:10px;
	margin: 6px 0 0 0;
}

.darkerPanel .form-group label {
	color: #EEE;
	margin: 5px 0 3px 2px;
	line-height: 35px;
}
.darkerPanel .darkerPanel .bc_button, .container-selector-container .bc_button.moveForward {
	float: right;
	margin-top: -45px;
	background-color: #125474;
	text-shadow: #000 -1px -1px 0px;
	border-top: 1px solid #296C8C;
	border-bottom: 1px solid #092F41;
	color: #dde6ea;
}
.form-group label:before, .summary_from:before, .summary_to:before, .summary_with:before, .summary_date:before {
	height: 30px;
	width: 30px;
	content: "";
	display: block;
	float: left;
	margin: 2px 4px 0 4px;
}
.summary_from:before, .summary_to:before, .summary_with:before, .summary_date:before {
	float: right;
	margin: -10px;
	-o-transform: scale(.68);
	-moz-transform: scale(.68);
	-ms-transform: scale(.68);
	-webkit-transform: scale(.68);
	transform: scale(.68);
}
.summary_from:before, .summary_to:before, .summary_with:before, .summary_date:before {
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-size: 400px 2500px;
}
/*marker from icon*/
.form-group.field_from label:before, .summary_from:before {
	background-position: -12px -62px;
}
/*marker to icon*/
.form-group.field_to label:before, .summary_to:before {
	background-position: -42px -62px;
}
/*calender icon*/
.form-group.field_date label:before, .form-group.field_cardExpire label:before {
	background-position: -79px -63px;
}
.results_holder .form-group.field_date label:after {
	content: "Approx";
	display: block;
	font: 11px "k-font-regular", tahoma, sans-serif;
	margin: -11px 0 0 25px;
	position: absolute;
	color: #888;
}
/*calender icon for booking summary*/
.summary_with:before {
	background-position: -298px -97px;
}
/*calender icon for booking summary*/
.summary_date:before {
	background-position: -259px -96px;
}
/*mail icon*/
.form-group.field_paymentName label:before {
	background-position: -114px -64px;
}
/*card number icon*/
.form-group.field_cardNumber label:before {
	background-position: -147px -64px;
}
/*account number icon*/
.form-group.field_accountNumber label:before {
	background-position: -147px -41px;
	height: 28px;
}
/*sot code icon*/
.form-group.field_sortCode label:before {
	background-position: -177px -41px;
	height: 28px;
}
/*cvc icon*/
.form-group.field_cvc label:before {
	background-position: -175px -64px;
}
/*promo icon*/
.form-group.field_promo label:before {
	background-position: -116px -265px;
}
/*promo icon in darker panel*/
.darkerPanel .form-group.field_promo label:before {
	background-position: -154px -264px;
}
/*Email icon*/
.form-group.field_email label:before {
	background-position: -240px -17px;
}
/*Password icon*/
.form-group.field_password label:before {
	background-position: -274px -17px;
}
/*Description icon*/
.form-group.field_description label:before {
	background-position: -231px -388px;
}

/*icons*/
.form-group label:before, .message-topic:before {
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-size: 400px 2500px;
}
/*volume icon*/
.form-group.field_volume label:before {
	background-position: -163px -495px;
}
/*abv icon*/
.form-group.field_abv label:before {
    background-position: -372px -195px;
}
/*contents icon*/
.form-group.field_contents label:before {
	background-position: -210px -63px;
}
/*reference icon*/
.form-group.field_reference label:before {
	background-position: -376px -64px;
}
/*invoice reference icon*/
.form-group.field_invoice-reference label:before {
	background-position: -376px -36px;
}
/*tax preferences icon*/
.form-group.field-tax-pref label:before {
	background-position: -317px -6px;
}
/*origin icon*/
.form-group.field_origin label:before {
	background-position: -317px -36px;
}
/*loading reference icon*/
.form-group.field_loading-reference label:before {
	background-position: -348px -36px;
}
/*time code*/
.form-group.field_code label:before {
	background-position: -313px -64px;
}
/*weight icon*/
.form-group.field_weight label:before {
	background-position: -278px -64px;
}
/*temperature icon*/
.form-group.field_temp label:before {
	background-position: -50px -517px;
}
.form-group.field_temp .dropit:after {
	display: none;
}
/*time icon*/
.form-group.field_time label:before {
	background-position: -244px -63px;
}
/*value icon*/
.form-group.field_customs label:before {
	background-position: -348px -64px;
}
/*packaging icon*/
.form-group.field_packaging label:before {
	background-position: -145px -386px;
}
/*quantity icon*/
.form-group.field_quantity label:before {
	background-position: -191px -388px;
}
/*height icon*/
.form-group.field_height label:before {
	background-position: -238px -559px;
}
/*length icon*/
.form-group.field_length label:before {
	background-position: -186px -559px;
}
/*width icon*/
.form-group.field_width label:before {
	background-position: -213px -559px;
}
.expandingTemp p {
	margin-top: 18px;
}
.formHolder .four.columns {
	width: 32.4%;
}
.formHolder .four.columns:first-of-type {
	margin-right: 8px;
}
.formHolder .four.columns:last-of-type {
	margin-left: 8px;/*width:33%;*/
}
.darkPanel.formHolder.quote_panel.back .four.columns:last-of-type {
	width: 33%;
	width: calc(33% - 4px);
	margin-right: -8px;
}
.darkPanel.formHolder.quote_panel .row {
	margin-left: 2px;
}


/* Don't use native buttons on iOS */
input[type=submit], input[type=submit].bc_button, button.bc_button {
	-webkit-appearance: none;
}
/* Labels ---------------------- */
.label {
	padding: 1px 4px 2px;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	display: inline;
	position: relative;
	bottom: 1px;
	color: #fff;
	background: #459b3e;
}
.hide {
	display: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus, .editable:focus {
	outline: none;
	padding-left: 8px;
	background-image: none;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {
}
.bc_button.disabled {
	opacity: 0.38;
	pointer-events: none;
	filter: gray;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
}
.bc_button {
	width: auto;
	cursor: pointer;
	line-height: 1;
	margin: 0;
	outline: none;
	position: relative;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border-radius: 5px;
	border: none;
	background: #2ba6b3;
	padding: 10px 35px 10px 35px;
	text-transform: auto;
	font: 16px "bclever_font_medium", tahoma, sans-serif;
	border-bottom: 2px solid #145f67;
	border-top: 1px solid #40becb;
	height: auto;
	text-shadow: #1a7c87 -1px -1px 0px;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
.bc_button.btn_secondary, .bc_button.btn_secondary:hover {
	background: rgba(255, 255, 255, 0.12);
	border-bottom: 2px solid rgba(0, 0, 0, 0.38);
	border-top: 1px solid rgba(255, 255, 255, 0.12);
	text-shadow: rgba(0, 0, 0, 0.18) -1px -1px 0px;
	display: inline-block;
}
.bc_button.btn_secondary:hover {
	background: rgba(255, 255, 255, 0.08);
	border-bottom: 2px solid rgba(0, 0, 0, 0.38);
	border-top: 1px solid rgba(255, 255, 255, 0.22);
}
.bc_button em {
	font-size: 14px;
	opacity: 0.5;
}
.bc_button:hover {
	color: #fff;
	background: #2296a2;
	border-top: 3px solid #78e2ed;
	border-bottom: 0px solid #145f67;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	padding: 9px 35px 11px 35px;
}
.bc_button:focus {
	border: 1px solid #FFF;
	border-top: 2px solid #FFF;
}
.bc_button.btn_secondary:focus {
	border: 1px solid transparent;
	border-top: 2px solid transparent;
}
.bc_button.btn_tertiary {
	background-color: #0E4E76;
	border-bottom: 2px solid #073f62;
	border-top: 1px solid #246a95;
	text-shadow: #053a5b -1px -1px 0px;
}
.bc_button.btn_tertiary:hover {
	background-color: #0a466b;
	border-bottom: 0px solid #073f62;
	border-top: 3px solid #246a95;
}
.bc_button.moveForward {
	float: right;
	font-size: 18px;
	margin: -18px 0 2px 0;
	padding: 10px 48px 10px 23px;
}
.bc_button.moveForward:before {
	content: "";
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	background: url(../assets/images/svg_sprite.png) no-repeat;
	background-position: -42px -142px;
	background-size: 400px 2500px;
	margin: -3px 0 0 0;
	right: 12px;
	-o-transform: scale(.68);
	-moz-transform: scale(.68);
	-ms-transform: scale(.68);
	-webkit-transform: scale(.68);
	transform: scale(.68);
}
.bc_button.moveForward:hover:before {
	background-position: -42px -140px;
}
/* Checkboxes */

label strong {
	font: 18px "k-font-regular", tahoma, sans-serif;
	color: #293D4E;
}
.orderDetails .alert {
	position: absolute;
	margin-top: 45px;
}
.alert-box .bc_button.moveForward {
	margin: 0px 0 6px 0;
	width: 100%;
}
.bclever-modal .alert {
	padding: 8px 8px 1px 8px;
}

#password_modal .alert-box.success {
	margin-top: -52px;
	margin-bottom: -70px;
	padding: 32px 10px 32px 18px;
}
.alert-box.success p {
	font: 22px "k-font-regular", tahoma, sans-serif;
	color: #2D2C2A;
	text-shadow: 0px 1px 0px #FBF2D3;
}
.alert a, .warning a, .general-error a {
	font-weight: bold;
	color: #fff;
}

.alert-box.general-error .bc_button.btn_secondary {
	    margin: 0 0 10px 0;
}

/* emberview causes issues with flexbox*/
.form-group .ember-view.alert {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
}



