
/* ------------------------------------------------------------ */
/* ----------iPad or smaller but bigger than mobile ----------- */
/* ------------------------------------------------------------ */
@media (max-width: 1024px) and (min-width: 700px) {
a.bclever_logo {
	top: 38px;
}
}

/* ----------iPad or smaller ----------- */
@media (max-width: 1024px) {
.bclever-modal {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	overflow-y: auto;
	margin-left: 100%;
	opacity: 1;
}
.bclever-modal.bclever-modal-open {
	margin-left: 0%;
}
.bclever-modal-bg, .bclever-modal-bg.bclever-modal-open {
	left: 100%;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.86) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#db000000', GradientType=1 );
}
.bclever-modal-bg.bclever-modal-open {
	left: 0%;
}
}

/* only load large images if screen big enough*/
@media (min-width: 945px) {
.noOrders {
	background: url(../assets/images/container.png) #2F424B no-repeat;
	background-size: 480px auto;
	background-position: 130% -28px;
}
}

/* -------------------------------------------------------------------------------------------- */
/* --------------------------------------------MOBILE------------------------------------------ */
/* -------------------------------------------------------------------------------------------- */

@media (max-width: 945px) {
	::-webkit-scrollbar {
 display: none;
}
.confirmation_holder h1, .dash_holder h1, .messages_holder h1, .docs_holder h1 {
	margin-bottom: 8px;
	text-align: center;
}
/* Messages*/
.bc_notify p {
	margin-top: 0px;
	padding: 8px;
	text-align: center;
}
.trucking-selector label.importing-label {
	display: none;
}
/*new login*/
.access-container {
	width: 260px;
	margin-left: calc(50% - 160px);
	padding: 78px 0px 50px 0px;
	overflow-y: auto;
	height: 100%;
	top: 0px;
}
.bc-access-modal .btn-create-account {
	width: 100%;
	margin-left: 0px;
	margin-bottom: 8px;
}
.bc_navbar {
	height: auto;
	max-height: 42px;
	overflow: hidden;
	width: 50px;
	padding-left: 0px;
	border-bottom-right-radius: 0px;
	right: 0;
}
.bc_navbar.open-nav {
	width: 100%;
	max-height: 250px;
	border-radius: 0;
	padding-bottom: 1px;
	background-color: rgba(0, 0, 0, 0.88);
}
.btn_backAStep {
	line-height: 99em;
	overflow: hidden;
	width: 50px;
}
.btn_backAStep:before {
	margin: -5px 0 0 8px;
	-o-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-webkit-transform: scale(.8);
	transform: scale(.8);
}
.btn-close {
	right: 5px;
	top: 5px;
}
.btn-home.btn_howItWorks {
	display: none;
}
.teams-holder {
	padding: 0 28px;
}
.video-holder {
	width: 100%;
}
#bc_edit-order_modal .container-particulars, #bc_edit-order_modal .container-particulars.open-container-details {
	overflow: auto;
}
.btn-home.btn_watchVideo {
	margin-top: -18px;
	margin-bottom: -8px;
}
.noOrders {
	padding: 25px 20px 25px 20px;
	text-align: center;
	margin: 12px;
}
#bc_login_modal .row .three, #bc_login_modal .row .seven, #access_modal .row .six, #profile_modal .row .eight {
	width: 100%;
	margin-top: -20px;
	margin-bottom: 15px;
}
#bc_login_modal .row .three label .forget-password, #profile_modal .row .two label, .accounts_holder label, .bclever-modal label {
	text-align: left;
	/*padding-bottom: 18px;*/
	display: block;
	font-size: 18px;
}
#password_modal .bc_button {
	margin-left: 0;
}
#password_modal.bclever-modal-open {
	padding-top: 60px;
}
#password_modal .alert-box.success {
	margin-bottom: -88px;
}
#bc_login_modal .row .six:first-of-type {
	border-right: none;
	border-bottom: 1px solid #CCC;
	margin-bottom: 50px;
	padding-bottom: 15px;
}
#bc_login_modal .row .six:last-of-type {
	border-left: none;
}
#bc_login_modal .bc_button {
	margin-right: 0px;
}
.bclever-modal h2 {
	margin: 0;
	padding-bottom: 20px;
}
.bclever-modal.sure-modal h2 {
padding-bottom: 50px;
}
#bc_login_modal .row .seven a {
	float: none;
	margin: 16px 0 -24px 0;
}
.bclever-modal.customs-modal .row .ten, .bclever-modal.customs-modal .row .eight, .bclever-modal.has-modal .row .ten, .bclever-modal.has-modal .row .eight, .bclever-modal.share_modal .row .eight, .bclever-modal.trucking-modal .row .four {
	padding: 0 10px;
}
.customs-modal .bc_button, .customs-modal .bc_button:hover, .haz-modal .bc_button, .haz-modal .bc_button:hover, .share_modal .bc_button, .share_modal .bc_button:hover, .bclever-modal.trucking-modal .bc_button, .bclever-modal.trucking-modal .bc_button:hover {
	margin-left: 0px;
	width: 96%;
	width: calc(100% - 20px);
	top: 5px;
}
.row .two.collectionCost {
	width: 96%;
	width: calc(100% - 16px);
}
.bclever-modal.customs-modal .btn_close, .bclever-modal.has-modal .btn_close {
	margin: -7px -6px 0 0;
}
.bclever-modal.customs-modal .typeahead-holder, .bclever-modal.has-modal .typeahead-holder, .bclever-modal.customs-modal .form-group.field_code input {
	margin-top: 45px;
}
.bclever-modal.customs-modal .form-group label, .bclever-modal.haz-modal .form-group label {
	position: absolute;
}
/* drop forms to 1 per row*/
.formHolder .four.columns {
	width: 100%;
	margin: 0;
}
.formHolder .four.columns:first-of-type, .formHolder .four.columns:last-of-type {
	margin: 8px 0 8px 0;
}
p {
	font-size: 17px;
}
.footer:hover {
	height: auto;
}
.home_holder .footer {
	padding-left: 0;
	line-height: 3em;
	padding: 0 0;
	position: relative;
	width: 100%;
	margin: 0px 8px 0 0px;
}
.footer a {
	border-right: none;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	display: block;
	padding-bottom: 14px;
	padding-top: 14px;
	float: left;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	font-size: 18px;
}
.bc_button, .bc_button:hover {
	width: 100%;
	font-size: 18px;
}
.bc_button.btn_secondary.btn_contact_new {
	display: none;
}
.contacts_bar .bc_button.btn_secondary.btn_contact_new {
	margin-right: 58px;
	width: 50px;
	padding: 4px 25px 5px 25px;
	display: block;
}
a.bclever_logo {
	top: 48px;
	position: relative;
}
.content_holder {
	padding: 0;
}
.docs_holder .content_holder {
	padding: 0 15px 60px 15px;
}
.booking_holder, .confirmation_holder, .payment_holder, .accounts_holder, .dash_holder, .ladding_holder {
	overflow-x: hidden;
}
.formHolder .four.columns:last-of-type, .darkPanel.formHolder.quote_panel.back .four.columns:last-of-type, .row .two, .row .three, .row .four, .row .five, .row .six, .row .seven, .row .eight, .row .nine, .row .ten, .row .eleven, .row .twelve {
	width: 100%;
}
/*grid*/
.row .offset-one, .row .offset-two, .row .offset-three, .row .offset-four, .row .offset-five, .row .offset-six, .row .offset-seven, .row .offset-eight, .row .offset-nine, .row .offset-ten, .row .offset-eleven {
	margin-left: 0%;
}
.messages_holder:before, .picker__month:before, .bc_button_info, #dateCarousel .carousel, th.companyName, td.companyName, .confirmation_holder .content_holder .btn_backAStep {
	display: none;
}
.bc_tooltip-holder {
	display: none;
}
.accounts_holder .content_holder, .payment_holder .content_holder {
	padding: 0px 30px 15px 29px;
}
.resultsRow.makeCentered {
	background: none;
	padding-top: 8px;
}
.darkerPanel .form-group.field_20ft, .darkerPanel .form-group.field_40ft, .darkerPanel .form-group.field_40ftHC, .darkerPanel .form-group.field_lcl {
	width: 100%;
	margin: 10px 0 0 0;
}
.darkerPanel {
	padding: 8px;
	margin-bottom: 10px;
}
.dash_holder .row.darkerPanel {
	padding: 8px 8px 8px 0px;
}
.darkerPanel .form-group select {
	width: 80px;
	float: right;
}
table.resultsTable td.quote a {
	margin: 3px 0px 0px 10px;
}
.results_holder.animate-in, .results_holder {
	height: 100%;
}
.contacts:before, .contact_new.open-contacts:before {
	right: 100%;
}
.contactPrompt {
	width: 100%;
}
.contacts, .contact_new, .contactPrompt.hide-prompt {
	width: 100%;
	right: -100%;
}
.contactPrompt .bc_button, .contactPrompt .bc_button:hover {
	margin: 20px 10px 10px 10px;
	width: calc(100% - 220px);
}
.contacts_bar, .contact_new .contacts_bar, ul.contacts_list, .contacts_footer, .paymentPanel .form-group input {
	width: 100%;
}
.accounts_holder .bc_button.btn_secondary.btn_contacts, .accounts_holder .bc_button.btn_secondary.btn_contacts:hover {
	width: 10px;
	overflow: hidden;
	padding-right: 0px;
	right: 0px;
	top: -5px;
	text-indent: 9999em;
}
.field_promo.form-group label {
	font-size: 12px;
}
.total-panel strong {
	margin-top: -53px;
}
.stripeLogo {
	margin: 22px auto 10px auto;
}
.bc_lading {
	padding: 18px 8px 28px 8px;
}
.ladding_holder .bc_button {
	margin: 10px 0 10px 0;
}
.btn-view-bl, .btn-book-trucking {
	position: absolute;
	right: 58px;
	margin-top: 4px;
	border-radius: 8px;
	padding: 5px 6px 5px 6px;
}
.bc_lading p {
	text-align: center;
	padding-left: 0px;
	padding: 12px 12px 8px 12px;
}
.row.confirmRow .bc_button {
	margin-top: 30px;
}
.row.confirmRow .bc_button.btn_secondary {
	font-size: 18px;
	margin: -18px 20px 2px 0;
	padding: 10px 23px 10px 23px;
}
.expandingContainer label.confirmChk {
	margin: 10px 0 0 0;
	float: left;
}
.contacts_footer .bc_button {
	margin: 8px 10px 0 0;
	width: calc(100% - 20px);
}
ul.a-z {
	width: 40px;
}
.contact_new .contacts_footer {
	width: 100%;
	bottom: -40px;
}
.accounts_holder fieldset {
	margin-left: 0;
}
/* booking */
.liquid-type {
	margin-left: 8.3333%;
}
.bclever-modal.customs-modal .liquid-type .select-holder {
	margin-bottom: 25px;
}
.row.confirmRow .eight.columns {
	padding: 20px;
}
.select-holder {
	margin-bottom: 10px;
}
.k-button.simple.btn-copy-details {
	right: 5px;
	top: 34px;
	background-color: #3287a0;
	max-width: 35px;
	max-height: 32px;
	overflow: hidden;
	line-height: 2em;
	padding: 1px 0 0 10px;
}
.btn-copy-prop {
	position: relative;
	width: auto;
	top: auto;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	margin: 20px;
	padding-left: 40px;
}
.btn-copy-prop.icon:before {
	display: inline-block;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin: -2px 0 0px -45px;
	position: absolute;
	font-size: 34px;
}
.bc-basket.minimise-basket {
	right: -98px;
}
.booking_holder .form-group input, .booking_holder .form-group textarea, .bclever-modal.customs-modal .form-group input, .container-adder .form-group input {
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin: 0;
	width: 100%;
}
.booking_holder .content_holder {
	padding: 0px 8px 0px 8px;
}
.darkerPanel.summaryElements .three.columns, .darkerPanel.summaryElements, .twelve .form-group.field_reference input {
	width: 100%;
}
.darkerPanel.summaryElements {
	width: 100%;
	margin-bottom: 2px;
	margin-top: 2px;
}
.order-action-panel .message-topic {
	left: 46%;
	left: calc(50% - 11px);
	margin-top: 0px;
}
.dash_holder .order-action-panel p {
	padding: 18px 15px 18px 18px;
	text-align: center;
}
.order-action-panel {
	height: 248px;
	margin-bottom: 10px;
}
.order-action-panel .bc_button {
	position: relative;
	right: 0px;
	top: -20px;
}
.dash_holder .order-header strong {
	font-size: 14px;
	display: block;
	margin-left: 0;
}
.dash_holder .expandingContainer.open.expanded {
	max-height: 9999em;
}
.dash_holder .expandingContainer {
	max-height: 615px;
	margin: 10px 10px 40px 10px;
}
.dash_holder .expandingContainer.arrived {
	max-height: 240px;
	min-height: 240px;
}
.dash_holder .expandingContainer.import {
	max-height: 678px;
}
.dash_holder .contactLabel {
	display: block;
	width: 100%;
}
.dash_holder .expandingContainer:hover .order-header h4 span {
	display: none;
}
.dash_holder .expandingContainer.expanded {
	max-height: 20000px;
}
.dash_holder .expandingContainer.open .status-row {
	display: none;
}
.booking_holder h1, .paymentPanel h1 {
	margin: 0 0 20px 0px;
	text-align: center;
}
.contactContainer .bc_button.btn_secondary.btn_contacts {
	margin: 20px 0 0 -58px;
	width: calc(100% + 58px);
	float: left;
}
.contactContainer .bc_button.btn_secondary.btn_contact_new {
	display: none;
}
.ac-container label.container-label:after, .ac-container input:checked + label.container-label:after {
	display: none;
}
.ac-container label.container-label {
	padding: 0 0 0 4px;
	font-size: 16px;
}
.ac-container label.container-label div, .confirmation_holder h4 div, .dash_holder h4 div {
	font-size: 18px;
}
.expandingContainer {
	padding: 12px 12px 15px 12px;
	margin-bottom: 0px;
}
.expandingContainer .expandingContainer {
	margin-top: 14px;
}
.schedule-date-time {
	margin-top: 18px;
}
.schedule-date-time hr {
	display: none;
}
.btn-change-town, .btn-change-town:hover {
	margin-top: -44px;
	height: 25px;
	padding: 0px 5px 0px 4px;
	width: 25px;
	line-height: 3em;
	border-radius: 88px;
	overflow: hidden;
	top: 0px;
	float: right;
}
.btn-change-town:before {
	display: block;
	margin: 4px 3px 0px 0px;
}
.bc_button.btn_add.btn-add-lcl {
	margin: 0px 0 18px 0px;
}
.expandingContainer .contactAddress {
	max-width: 100%;
}
.form-group.field_weight, .form-group.field_code, .form-group.field_time, .form-group.field_customs input, .form-group.field_code input {
	margin-left: 0;
	width: 100%;
}
/* confritmation */
.confirmation_holder .row.darkerPanel .bc_button {
	margin: 0 -5px 0 0;
}
.confirmation_holder .row.darkerPanel .bc_button.btn-applyDiscount {
	margin: 0;
}
.confirmation_holder .form-group.field_promo input {
	width: calc(100% - 20px);
}
/* payment */

.raised-panel span {
	width: 55%;
}
.raised-panel strong {
	font-size: 15px;
	margin-left: -5px;
}
.paymentPanel .form-group label, .booking_holder .form-group label {
	margin-bottom: 8px;
	width: 100%;
}
.bc_page_loaded .paymentPanel .form-group label {
	width: 100%;
}
.gc-payment .dd-footer .six:last-of-type p {
	text-align: left;
}
/* forces flexed inputs to sit on their own line*/
.paymentPanel .form-group, .booking_holder .form-group, .container-adder .form-group {
	display: block;
	width: 100%;
	margin-left: 0;
}
.container-adder .form-group {
	margin-bottom: 8px;
}
.show-lcl .lcl-panel {
	max-height: 520px;
}
.show-lcl .chk-holder {
	margin: 0 18px 40px 0;
}
.container-options .darkerPanel .reefer-settings .alert {
	margin: -44px 0px 10px 0px;
}
.show-lcl .makeCentered .lcl-panel {
	margin-bottom: -118px;
}
.btn-generate-quotes, .btn-generate-quotes:hover {
	margin: 5px 0 0 0px;
	padding: 18px 8px 18px 8px;
}
.paymentPanel .info-panel .bc_button.btn_add, .paymentPanel .info-panel .bc_button.btn_add:hover {
	position: relative;
	margin: 0 20px;
}
.billing-address label.copy-address-label {
	margin: 0px 0 0 0;
}
/* Dashboard */
 
.tabs {
	margin: 24px 10px 0 10px;
	padding: 0;
	width: 95%;
	width: calc(100% - 20px);
	border-radius: 8px;
	overflow: hidden;
}
.tabs li {
	display: block;
	width: 100%;
}
.tabs a {
	width: 100%;
	text-align: left;
	background-color: rgba(255,255,255,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.8);
	border-top: 1px solid rgba(255,255,255,0.2);
	margin: 0;
	color: #fff;
	padding: 12px 20px 12px 15px;
	display: block;
}
.tabs a.selected {
	background: rgba(0,0,0,0.28);
	border-top: 2px solid rgba(0,0,0,0.5);
	border-left: 2px solid #2BA6B3;
	color: #61d1dd;
	font-weight: bold;
}
.tabs a:before {
	display: none;
}
.dash_holder .expandingContainer:before {
	display: none;
}
.dropit .dropit-open .dropit-submenu {
	width: 98%;
}
.total-panel {
	margin-right: -10px;
}
.confirmation_holder .row.darkerPanel .nine p strong, .dash_holder .row.darkerPanel .nine p strong {
	margin: -67px 0px 14px -0px;
	width: 100%;
}
.overview-row .two {
	width: 100%;
}
.overview-row .bc_button, .overview-row .bc_button {
	position: absolute;
	top: -170px;
	right: 5px;
	font-size: 14px;
	width: 83px;
	background-color: #18222b;
}
.dash_holder a.btn-docs, .dash_holder a.btn-copy-order, .dash_holder a.btn-copy-order, .dash_holder a.btn-edit-order {
	margin-top: -160px;
	right: 2px;
	width: 80px;
}
.dash_holder a.btn-edit-order {
	margin-top: -110px;
}
.dash_holder a.btn-copy-order {
	margin-top: -60px;
}
a.btn-order-messages:before {
	background-position: -167px -229px;
}
a.btn-order-messages {
	margin-left: 190px;
}
.status-row .two.columns, .import .status-row .two.columns {
	padding: 8px;
	margin: 3px 0px 0px 0px;
	width: 100%;
	height: auto;
	border-radius: 4px;
	border: 2px solid #253740;
	background: linear-gradient(to right, #3d4f58 0%, #53646b 100%);
}
.status-row .two.columns.current-state {
	background-color: #d5ba5f;
	background-image: none;
}
.status-row .two.columns:after {
	display: none;
}
.status-row .two.columns:last-child {
	padding-left: 8px;
}
.status-row .two.columns h2 {
	color: #fff;
}
.status-row .two.columns h2, .status-row .two.columns.status-bl h2 {
	padding-left: 5px;
	float: left;
	margin: 12px 0 -5px 0;
}
.status-indicator, .two.columns.status-bl .status-indicator {
	float: right;
	margin: 2px 0 8px 0;
}
strong.cargo-summary {
	width: 100%;
	margin: 5px 0 0 0;
	border: none;
	padding: 8px 0 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.container-particulars.container-assigned strong.cargo-summary {
	max-width: 100%;
}
.container-particulars .bc_button.btn_secondary.btn_contacts, .ac-container .bc_button.btn_secondary.btn-duplicate {
	right: -14px;
	padding: 6px 0px 5px 54px;
	width: 0px;
	overflow: hidden;
	margin: 35px 5px -73px 0;
	width: 0px;
	z-index: 999;
}
.container-particulars.open-container-details .bc_button.btn_secondary.btn_contacts, .container-particulars.open-container-details .bc_button.btn_secondary.btn-duplicate {
	margin-top: 16px;
}
#bc_sure_modal .bc_button, .sure-modal .bc_button {
	margin: -20px 20px 30px 0px;
}

.container-particulars.container-assigned .assigned-message {
	max-height: 200px;
	padding-bottom: 20px;
}
.page-holder {
	padding: 18px 30px 28px 30px;
}
/* Elements to be hidden on mobile */
.contacts_footer:before, .contacts:before, .contacts_bar:before, .contact_new:before, .booking_holder .add-containers-panel, .ac-container a.btn-copy-order, /*.bc_button.btn_secondary.btn_add,*/ .strong.cargo-summary, table.resultsTable thead tr th a.btn_sendQuotes, table.resultsTable thead tr th a span, .partner-logos, .send-quotes-panel {
	display: none;
}
/* Banner */
.GG-banner {
	bottom: auto;
	background-position: -216px 4px;
	background-size: auto 27px;
	height: 35px;
	width: 166px;
	margin-left: calc(50% - 84px);
	top: 0;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.contact-us .primary-contact, .our-values {
	border-radius: 0px;
	margin: 0;
	text-align: center;
}
.contact-us .primary-contact .four {
	border: none;
	border-bottom: 1px solid #000;
	padding: 28px 0 28px 0;
}
.contact-action a {
	margin: -28px 0 -28px 0;
	padding: 28px 0 22px 0;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.primary-contact .four:first-of-type, .primary-contact .four:first-of-type .contact-action a {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 8px;
}
.primary-contact .four:last-of-type, .primary-contact .four:last-of-type .contact-action a {
	border-bottom-left-radius: 8px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
}
.who-we-are .profile_row {
	padding: 18px 18px;
}
.our-values p {
	padding-top: 22px;
	text-align: left;
}
ul.team-members-list li, ul.team-members-list li.join-team {
	width: 100%;
}
ul.team-members-list li.join-team {
	padding-bottom: 10px;
}
.logo-icon {
	margin: 4px auto 0 auto;
	float: none;
}
.profile_row img {
	width: 100%;
	height: 100%;
}
ul.team-members-list {
	margin: 40px 16px 18px 16px;
}
ul.team-members-list li span {
	font-size: 20px;
}
.form_holder.who-we-are h2, .associates, .investors {
	display: none;
}
.ladding_holder table td, .ladding_holder table th, .ladding_holder .table-styled-holder, .carrier-detail {
	width: 100%;
	display: block;
	float: left;
	clear: both;
}
.ladding_holder table th {
	margin: -11px -10px 10px 0px;
}
.container-particulars .form-group input {
	text-align: left;
}
.field_from .tt-dropdown-menu {
	width: calc(100% + 14px);
}
.field_to .tt-dropdown-menu {
	width: calc(100% + 58px)
}
.expandingContainer.expandingDelivery .contactAddress p {
	max-width: 70%;
}
.asset-row {
	padding: 38px 18px;
}
.media-kit .our-values p {
	width: 100%;
}
.media-kit .bc_button.moveForward {
	margin: 18px 0 28px 10px;
	width: 100%;
}
.asset-row img {
	margin: 20px 0 0px 0;
	width: 100%;
	height: auto;
}
.asset-holder {
	min-width: 100%;
	margin-top: 20px;
}
.asset-row .asset-holder img {
	margin: 0 auto;
}
.contact_info .payment-details {
	height: auto;
}
.contact_info .payment-details .paymentPanel {
	width: 100%;
	position: relative;
	height: 0;
	overflow: hidden;
}
.contact_info .payment-details .paymentPanel.active {
	height: auto;
}
.darkPanel.quote_panel .btn-help {
	position: fixed;
	right: 10px;
	margin: -118px 0px 0 0px;
}
.bol-editable.edit-address, .bol-editable.edit-seals, .bol-editable.edit-desc, .bol-editable.edit-weight {
	max-width: 100%;
}
th.fileDescription, td.fileDescription, table.filesTable .bc_button.btn-save {
	display: none;
}
table.filesTable tbody tr td.fileAction, table.filesTable tbody tr th.fileAction {
	width: auto;
}
table.filesTable tbody tr.failed-upload .btn_trash, table.filesTable .btn_trash, table.filesTable .btn_trash:hover {
	right: -5px;
}
table.filesTable tbody tr td.fileName, table.filesTable tbody tr th.fileName {
	width: 100%;
}
h3.ordersheading {
	text-align: center;
}
/* quotes bookmarks*/
.callout .k-button, .callout .k-button:hover {
	width: 100%;
	margin: 0;
}
/* dash bookmarks*/
.q-name {
	min-width: 160px;
}
.q-direction, .q-type, .q-from, .q-to {
	display: none;
}
.dash_holder .quote-module {
	margin: 10px;
}
.q-name .btn-save, .q-name .btn-save:hover {
	width: auto;
	margin: -13px 0 0 -95px;
}
.dash_holder .content-bookmarks .quote-module .q-cta {
	max-width: 180px;
	min-width: 180px;
}
.q-cta .btn_trash {
	margin-top: 3px;
	right: 16px;
}
}
