.accounts_holder {
	background-color: #f6f6f6;
}
.accounts_holder h2 {
	text-align: left;
}
.teams-holder {
	background-color: rgba(255, 255, 255, 0.58);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-bottom: 3px solid rgba(0, 0, 0, 0.18);
	margin-top: 28px;
	padding-bottom: 18px;
}
.contact_info .teams-holder .row {
	margin-bottom: 20px;
}
.contact_info input {
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
	color: #222;
}
.team-list, .card-list {
	margin: 20px 0 0 0;
	border: 1px solid #ccc;
	border-radius: 6px;
}
ul.team-list li, ul.card-list li {
	display: block;
	padding-right: 48px;
	color: #555;
}
ul.team-list li:first-of-type, ul.card-list li:first-of-type {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
ul.team-list li:last-of-type, ul.card-list li:last-of-type {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
ul.card-list li span {
	display: inline-block;
	padding-left: 20px;
	font: 17px "k-font-medium", tahoma, sans-serif;
	float: right;
}
.team-list li .btn_trash {
	right: 6px;
	top: 6px;
}
.accounts_holder h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	padding-bottom: 30px;
	margin-bottom: 0px;
}
.accounts_holder .contact_info .eight .row:first-of-type h2 {
	border-top: none;
	margin-top: 8px;
}
.accounts_holder .contact_info .eight .paymentPanel .row:first-of-type h2 {
	border-top: 1px solid #ddd;
}
.teams-holder h1 {
	font: 22px "k-font-medium", tahoma, sans-serif;
	text-align: left;
	border-bottom: 1px solid #DDD;
	padding: 28px 0 10px 0;
	margin-bottom: 12px;
}
.teams-holder p {
	color: #555;
	font-size: 14px;
	font-family: "k-font-regular", tahoma, sans-serif;
}
.teams-holder .bc_button {
	width: 100%;
	margin-top: -20px;
}
.paymentPanel.saved-card .info-panel p {
	text-align: center;
	padding: 18px 0 0 0;
}
.btn_edit {
	background: url(../assets/images/svg_sprite.png) #FFF no-repeat;
	background-position: -8px -182px;
	background-size: 400px 2500px;
	position: absolute;
	right: 54px;
	color: #AAA;
	font-weight: bold;
	cursor: pointer;
	height: 35px;
	width: 36px;
	top: 9px;
	padding: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

ul.settings-payment-types {
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.28);
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	overflow: hidden;
}
ul.settings-payment-types li {
	flex: 1 1 auto;
	border-right: 1px solid #ccc;
}
ul.settings-payment-types li a.active, ul.settings-payment-types li a:hover {
	background-color: #eee;
	background-image: linear-gradient(top, #eee 50%, #fff 100%);
	background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
	background-image: -moz-linear-gradient(top, #eee 50%, #fff 100%);
	background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
	background-image: -ms-linear-gradient(top, #eee 50%, #fff 100%);
	color: #000;
}
ul.settings-payment-types li:last-of-type {
	border-right: none;
}
ul.settings-payment-types li a {
	padding: 10px 0;
	font: 16px "k-font-regular", tahoma, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
}
.accounts_holder .paymentPanel .twelve .bc_button {
	margin-top: 12px;
	font-size: 16px;
	width: auto;
}
.billing-address label {
	text-align: left;
	float: left;
	margin-top: 0px;
}
.billing-address label.copy-address-label {
	float: right;
	margin: -64px 0 0 0;
}
.accounts_holder .card-payment .btn-save {
	margin: 10px 0 20px 0;
}
.contact_info .select-holder {
	margin-top:-12px;
}
.contact_info .typeahead-search .search-results {
	position: relative;
}

.contact_info .typeahead-search .search-results {
	margin-top:-60px;
	margin-bottom:60px;

}
.contact_info .search-holder.typeahead-search .k-loading, .contact_info .search-holder.typeahead-search .no-search-results {
	margin-top:-15px;
}

.accounts_holder fieldset {
	margin-left: 8.3333%;
    padding: 0 0 10px 0;
}

.info-holder {
	border-radius: 8px;
    background: #333;
    background: -moz-linear-gradient(top, #444 0%, #111 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #444 0%, #111 100%);
    background: -o-linear-gradient(top, #444 0%, #111 100%);
    background: -ms-linear-gradient(top, #444 0%, #111 100%);
    background: linear-gradient(to bottom, #444 0%, #111 100%);
    margin: 0 0 18px 0;
	padding: 24px 28px 28px 28px;
    text-align: center;
}
.info-holder .info-note {
	display: inline-block;
	font-size: 18px;
}

.accounts_holder .chk-holder {
	    margin-bottom: 20px;}