.bc-access-modal .brand_bar {
	display:none;
}



/*MSC*/
.msc .page-loader-slide-one:after
{
	background: url(../assets/images/white-label/msc/logo.svg) 0 0 no-repeat;
	    height: 58px;
    margin-left: calc(50% - 30px);
    margin-top: 0;
    top: calc(100% - 83px);
}
.msc .main-nav-bar .logo {
    width: 260px;
    height: 38px;
}

.msc .btn-import {
	background-image: url(../assets/images/white-label/msc/import.png);
}
.msc .btn-export {
	background-image: url(../assets/images/white-label/msc/export.png);
}
.msc .btn-containers, .msc .c-20 {
	background-image: url(../assets/images/white-label/msc/container.png);
}
.msc .c-40 {
	background-image: url(../assets/images/white-label/msc/container-40.png);
}
.msc .c-40hc {
	background-image: url(../assets/images/white-label/msc/container-40hc.png);
}

/*Hamburg*/
.hamburg .page-loader-slide-one:after
{
	background: url(../assets/images/white-label/hamburg/logo.svg) 0 0 no-repeat;
}
.hamburg .btn-import {
	background-image: url(../assets/images/white-label/hamburg/import.png);
}
.hamburg .btn-export {
	background-image: url(../assets/images/white-label/hamburg/export.png);
}
.hamburg .btn-containers, .hamburg .c-20 {
	background-image: url(../assets/images/white-label/hamburg/container.png);
}
.hamburg .c-40 {
	background-image: url(../assets/images/white-label/hamburg/container-40.png);
}
.hamburg .c-40hc {
	background-image: url(../assets/images/white-label/hamburg/container-40hc.png);
}

/*Hapag*/
.hapag .page-loader-slide-one:after
{
	background: url(../assets/images/white-label/hapag/logo.svg) 0 0 no-repeat;
}
.hapag .btn-import {
	background-image: url(../assets/images/white-label/hapag/import.png);
}
.hapag .btn-export {
	background-image: url(../assets/images/white-label/hapag/export.png);
}
.hapag .btn-containers, .hapag .c-20 {
	background-image: url(../assets/images/white-label/hapag/container.png);
}
.hapag .c-40 {
	background-image: url(../assets/images/white-label/hapag/container-40.png);
}
.hapag .c-40hc {
	background-image: url(../assets/images/white-label/hapag/container-40hc.png);
}

/*Maersk*/
.maersk .page-loader-slide-one:after
{
	background: url(../assets/images/white-label/maersk/logo.svg) 0 0 no-repeat;
}
.maersk .btn-import {
	background-image: url(../assets/images/white-label/maersk/import.png);
}
.maersk .btn-export {
	background-image: url(../assets/images/white-label/maersk/export.png);
}
.maersk .btn-containers, .maersk .c-20 {
	background-image: url(../assets/images/white-label/maersk/container.png);
}
.maersk .c-40 {
	background-image: url(../assets/images/white-label/maersk/container-40.png);
}
.maersk .c-40hc {
	background-image: url(../assets/images/white-label/maersk/container-40hc.png);
}

/*cma*/
.cma .page-loader-slide-one:after
{
	background: url(../assets/images/white-label/cma/logo.svg) 0 0 no-repeat;
	    height: 58px;
    margin-left: calc(50% - 48px);
    margin-top: 0;
    top: calc(100% - 83px);
}
.cma .main-nav-bar .logo {
     width: 70px;
    height: 48px;
    margin-top: -5px;
    margin-bottom: -8px;
    margin-right: 5px;
}
.cma .btn-import {
	background-image: url(../assets/images/white-label/cma/import.png);
}
.cma .btn-export {
	background-image: url(../assets/images/white-label/cma/export.png);
}
.cma .btn-containers, .cma .c-20 {
	background-image: url(../assets/images/white-label/cma/container.png);
}
.cma .c-40 {
	background-image: url(../assets/images/white-label/cma/container-40.png);
}
.cma .c-40hc {
	background-image: url(../assets/images/white-label/cma/container-40hc.png);
}
@media (min-width: 945px){
.cma .noOrders {
    background: url(../assets/images/white-label/cma/container.png) #2F424B no-repeat;
    background-size: 480px auto;
    background-position: 130% -28px;
}
.hamburg .noOrders {
    background: url(../assets/images/white-label/hamburg/container.png) #2F424B no-repeat;
    background-size: 480px auto;
    background-position: 130% -28px;
}
.hapag .noOrders {
    background: url(../assets/images/white-label/hapag/container.png) #2F424B no-repeat;
    background-size: 480px auto;
    background-position: 130% -28px;
}
.maersk .noOrders {
    background: url(../assets/images/white-label/maersk/container.png) #2F424B no-repeat;
    background-size: 480px auto;
    background-position: 130% -28px;
}
.msc .noOrders {
    background: url(../assets/images/white-label/msc/container.png) #2F424B no-repeat;
    background-size: 480px auto;
    background-position: 130% -28px;
}
}